@{
    ViewBag.Titulo = "Login";
}

@section scripts_header{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/login.js")"></script>
}
<div>
    <form id="frmLogin" action="@Url.Action("Validar", "Login")" method="post">
        <input type="hidden" name="token" id="token" />
        <div>
            <label>
                Usuario: <input type="text" name="correo" id="correo" placeholder="Ingrese correo" />
            </label>
            <label>
                Contraseña: <input type="password" name="contraseña" id="contraseña" placeholder="Ingrese contraseña" />
            </label>
        </div>
        <div>
            <button>Iniciar sesión</button>
            <button type="button" id="btnIniciarSesionMRV">Iniciar sesión con MRV</button>
        </div>
        <div>
            <a href="@Url.Action("RecuperarContraseña", "Login")">¿Olvidaste tu contraseña?</a>
        </div>
        @if (TempData["error_message"] != null)
            {
            <div>
                <label>@TempData["error_message"].ToString()</label>
            </div>
        }
    </form>
</div>
<div id="viewLoginMRV" style="display: none;">
    <form id="frmLoginMRV" action="@Url.Action("ValidarMRV", "Login")" method="post">
        <input type="hidden" name="tokenMRV" id="tokenMRV" />
        <label>
            Correo: <input type="text" name="txtCorreoMRV" id="txtCorreoMRV" />
        </label>
        <label>
            Contraseña: <input type="password" name="txtContraseñaMRV" id="txtContraseñaMRV" />
        </label>
        <button id="btnValidarUsuarioMRV">Iniciar Sesión</button>
    </form>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=@(ViewData["keySiteCaptcha"].ToString())"></script>
<script>
    var key = '@ViewData["keySiteCaptcha"].ToString()';
</script>