
@{
    ViewBag.Titulo = "Registarme";
    ViewBag.Header = new Dictionary<string, object>
    {
        ["Imagen"] = "~/Assets//images/bg-registro.png",
        ["Titulo"] = "REGISTRARSE"
    };
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/plugins/counter.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/login_registrarme.js")"></script>
}

<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-12 wow fadeIn">
                        <div class="h4 estilo-03">Completa tu información <br><small class="text-muted estilo-02"><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>campos obligatorios</small></div>
                        <form class="pt-4" id="frmRegister" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-ruc">RUC</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="top" title="Se recomienda un RUC de persona jurídica"></i></span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-landmark"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-ruc" id="txt-ruc" placeholder="Ingrese su número de RUC" pattern="[0-9]{11}" maxlength="11" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 d-flex align-items-end">
                                    <button class="btn btn-primary w-100 mb-3" id="sresBtn" type="button"><i class="fas fa-search px-1"></i>Consultar</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-institucion">Entidad</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="top" title="Ingrese el nombre comercial o razón social de su empresa"></i></span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-landmark"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-institucion" id="txt-institucion" readonly placeholder="Ingrese su institución" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{8,70}" maxlength="70" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-direccion">Domicilio legal</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-landmark"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-direccion" id="txt-direccion" readonly placeholder="Ingrese su dirección" pattern="[a-zA-Z0-9\s/\@("@")#$%&amp;]+" maxlength="120" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="cbo-sector">Sector</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                            <select class="form-control estilo-01" name="cbo-sector" id="cbo-sector" disabled aria-describedby="inputGroup9" required></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-user">Correo electrónico</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-envelope"></i></span></div>
                                            <input class="form-control estilo-01" type="email" name="txt-user" id="txt-user" placeholder="Ingresar correo electrónico" maxlength="50" pattern="^[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@("@")[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$" title="Ingrese una dirección de correo válida." autocomplete="new-user" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-nombre">Nombres</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-nombre" id="txt-nombre" readonly placeholder="Ingrese su nombres" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,54}" maxlength="54" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-apellido">Apellidos</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-apellido" id="txt-apellido" readonly placeholder="Ingrese su apellidos" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{8,54}" maxlength="54" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group tel">
                                        <label class="estilo-01" for="txt-telefono">Teléfono fijo</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone-alt"></i></span></div>
                                            <input class="form-control estilo-01" type="tel" name="txt-telefono" id="txt-telefono" readonly placeholder="Ingrese su teléfono" pattern="[0-9]{6,10}" maxlength="10">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group tel">
                                        <label class="estilo-01" for="txt-anexo">Anexo</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span></div>
                                            <input class="form-control estilo-01" type="tel" name="txt-anexo" id="txt-anexo" readonly placeholder="Ingrese su anexo" pattern="[0-9]{4,5}" maxlength="5" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group cel">
                                        <label class="estilo-01" for="txt-celular">Teléfono móvil</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-mobile-alt"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-celular" id="txt-celular" readonly placeholder="Ingrese su celular" pattern="[0-9]{9,12}" maxlength="12" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-pswd">Contraseña</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="top" title="Su contraseña debe incluir 6 caracteres como mínimo, 1 minúscula, 1 mayúscula, 1 número y 1 caracter especial (!@("@")#$&amp;*)."></i></span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div><input class="form-control estilo-01" type="password" name="txt-pswd" id="txt-pswd" readonly placeholder="Ingrese se contraseña" pattern="(?=.*\d)(?=.*[!@("@")#$&*])(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="new-password" required>
                                            <div class="input-group-append">
                                                <label class="input-group-text cursor-pointer ver-clave"><i class="fas fa-eye mr-1"></i>Mostrar</label>
                                            </div>
                                        </div>
                                        <div class="nivelSeguridad">
                                            <small class="text-primary">
                                                <div class="fas fa-shield-alt"></div>&nbsp; Nivel de seguridad: &nbsp;<span class="text-primary font-weight-bold" id="nivelseguridad">bajo</span>
                                                <div class="nivelesColores">
                                                    <div class="spanNivelesColores"></div>
                                                </div>
                                            </small>
                                            <div class="NivelesColores"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-re-pswd">Confirmar contraseña</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div>
                                            <input class="form-control estilo-01" type="password" name="txt-re-pswd" id="txt-re-pswd" readonly placeholder="Confirmar su contraseña" required>
                                            <div class="input-group-append">
                                                <label class="input-group-text cursor-pointer ver-clave"><i class="fas fa-eye mr-1"></i>Mostrar</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="rayado pt-2 mb-3"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="chk-terminos-condiciones">
                                            <label class="custom-control-label estilo-01" for="chk-terminos-condiciones">Aceptar los términos y condiciones de uso. &nbsp;</label><a class="estilo-01" href="#" data-toggle="modal" data-target="#terminos-condiciones">Ver aquí</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <button class="btn-lg btn-sres-verde w-100" type="submit"><i class="fas fa-paper-plane px-1"></i>Registrarse</button>
                                    <p class="py-4 mb-0 text-center estilo-01">¿Ya tiene un cuenta?&nbsp;<a class="text-sres-verde" href="./login.html">Ingrese ahora <br></a><a class="text-sres-verde" href="./recuperar.html">¿Olvidó su contraseña?</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @Html.Partial("_SRES_Documentation")
        </div>
    </div>
</div>
<div class="modal fade" id="modalValidacionMrv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-nama-azul text-white">
                <h5 class="modal-title estilo-01" id="exampleModalLabel">Validacion de credenciales</h5>
            </div>
            <div class="modal-body medidas-modal">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="estilo-01" for="txt-user">Correo electrónico MRV</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text bg-nama-azul text-white"><i class="fas fa-envelope"></i></span></div>
                                <input class="form-control estilo-01" type="email" id="txt-user-mrv" placeholder="Ingresar correo electrónico" maxlength="50" pattern="^[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@("@")[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$" title="Ingrese una dirección de correo válida." autocomplete="new-user" readonly required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="estilo-01" for="txt-pswd">Contraseña MRV</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text bg-nama-azul text-white"><i class="fas fa-key"></i></span></div>
                                <input class="form-control estilo-01" type="password" id="txt-pswd-mrv" placeholder="Ingresar contraseña" maxlength="30" title="Ingrese su contraseña." autocomplete="new-password" required>
                                <div class="input-group-append">
                                    <label class="input-group-text cursor-pointer ver-clave estilo-01 bg-nama-azul text-white"><i class="fas fa-eye mr-1"></i>Mostrar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button class="btn-lg btn-nama-azul w-100 mb-3" id="btnValidarUsuarioMRV" type="button"><img class="px-1" src="@Url.Content("~/Assets/images/mrv-iso.png")">Ingresa con MRV</button><a class="text-sres-verde estilo-01" href="http://sismrv.minem.gob.pe/Home/recuperar" target="_blank">¿Olvidó su contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalValidacionSres" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-nama-azul text-white">
                <h5 class="modal-title estilo-01" id="exampleModalLabel">Registro de usuario</h5>
            </div>
            <div class="modal-body medidas-modal">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3 class="text-center estilo-03">Comparando datos...</h3>
                        <p class="text-center estilo-01">Estamos procediendo a validar sus datos con la plataforma de MRV del sector energía, en breve confirmaremos los resultados.</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p id="redireccionarText" class="text-center estilo-01" style="display:none">
                            Lo estamos redirigiendo en <strong id="txtSegundosRedirigir"></strong> segundos
                        </p>
                        <div class="progress mb-3" style="height: 25px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated estilo-01" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Validando, espere un momento por favor...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<h2>Registarme</h2>

    <form id="frmRegistro" autocomplete="off">
        <div>
            <label>
                RUC: <input type="text" name="txtRucInstitucion" id="txtRucInstitucion" />
            </label>
            <button type="button" id="btnConsultarInstitucion">CONSULTAR</button>
        </div>
        <hr />
        <div>
            <label>
                Entidad: <input type="text" name="txtRazonSocialInstitucion" id="txtRazonSocialInstitucion" readonly />
            </label>
            <label>
                Domicilio Legal: <input type="text" name="txtDomicilioLegalInstitucion" id="txtDomicilioLegalInstitucion" readonly />
            </label>
        </div>
        <div>
            <label>
                Sector: <select name="selIdSectorInstitucion" id="selIdSectorInstitucion" disabled ></select>
            </label>
        </div>
        <div>
            <label>
                Correo electrónico: <input type="text" name="txtCorreoUsuario" id="txtCorreoUsuario" />
            </label>
        </div>
        <div>
            <label>
                Nombres: <input type="text" name="txtNombresUsuario" id="txtNombresUsuario" readonly />
            </label>
            <label>
                Apellidos: <input type="text" name="txtApellidosUsuario" id="txtApellidosUsuario" readonly />
            </label>
        </div>
        <div>
            <label>
                Teléfono fijo: <input type="text" name="txtTelefonoUsuario" id="txtTelefonoUsuario" readonly />
            </label>
            <label>
                Anexo: <input type="text" name="txtAnexoUsuario" id="txtAnexoUsuario" readonly />
            </label>
        </div>
        <div>
            <label>
                Celular: <input type="text" name="txtCelularUsuario" id="txtCelularUsuario" readonly />
            </label>
        </div>
        <div id="viewContraseñaUsuario">
            <label>
                Contraseña: <input type="password" name="txtContraseñaUsuario" id="txtContraseñaUsuario" readonly />
            </label>
            <label>
                Confirmar Contraseña: <input type="password" name="txtConfirmarContraseñaUsuario" id="txtConfirmarContraseñaUsuario" readonly />
            </label>
        </div>
        <div>
            <button type="button" id="btnRegistrarme">REGISTRARME</button>
        </div>
    </form>

    <div id="viewLoginMRV" style="display: none;">
        <label>
            Correo: <input type="text" name="txtCorreoMRV" id="txtCorreoMRV" readonly />
        </label>
        <label>
            Contraseña: <input type="password" name="txtContraseñaMRV" id="txtContraseñaMRV" />
        </label>
        <button id="btnValidarUsuarioMRV">Validar</button>
    </div>*@