
@{
    ViewBag.Titulo = "Registarme";
    ViewBag.Header = new Dictionary<string, object>
    {
        ["Imagen"] = "~/Assets//images/bg-registro.png",
        ["Titulo"] = "REGISTRARSE"
    };
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/plugins/counter.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/login_registrarme.js")"></script>
}

<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-12 wow fadeIn">
                        <div class="h4 estilo-03">Completa tu información <br><small class="text-muted estilo-02"><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>campos obligatorios</small></div>
                        <form class="pt-4" id="frmRegister" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-ruc">RUC</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="top" title="Se recomienda un RUC de persona jurídica"></i></span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-landmark"></i></span></div>
                                            <input class="form-control estilo-01 solo-numero" type="text" name="txt-ruc" id="txt-ruc" placeholder="Ingrese su número de RUC" pattern="[0-9]{11}" maxlength="11" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 d-flex align-items-end">
                                    <button class="btn btn-primary w-100 mb-3" id="sresBtn" type="button"><i class="fas fa-search px-1"></i>Consultar</button>
                                </div>
                                <div class="col-12">
                                    <div id="preload"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="rayado pt-2 mb-3"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-institucion">Entidad</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="top" title="Ingrese el nombre comercial o razón social de su empresa"></i></span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-landmark"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-institucion" id="txt-institucion" readonly placeholder="Ingrese su institución" @*pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]"*@ maxlength="70" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-direccion">Domicilio legal</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-landmark"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-direccion" id="txt-direccion" readonly placeholder="Ingrese su dirección" pattern="[a-zA-Z0-9\s/\@("@")#$%&amp;]+" maxlength="120" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="cbo-sector">Sector</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                            <select class="form-control estilo-01" name="cbo-sector" id="cbo-sector" disabled aria-describedby="inputGroup9" required></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-user">Correo electrónico</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-envelope"></i></span></div>
                                            <input class="form-control estilo-01" type="email" name="txt-user" id="txt-user" placeholder="Ingresar correo electrónico" maxlength="50" pattern="^[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@("@")[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$" title="Ingrese una dirección de correo válida." required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-user">Correo electrónico</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-envelope"></i></span></div>
                                            <input class="form-control estilo-01" type="email" name="txt-user" id="txt-user" placeholder="Ingresar correo electrónico" maxlength="50" pattern="^[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@("@")[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$" title="Ingrese una dirección de correo válida." required>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-nombre">Nombres</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-nombre" id="txt-nombre" readonly placeholder="Ingrese su nombres" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{0,54}" maxlength="54" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-apellido">Apellidos</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
                                            <input class="form-control estilo-01" type="text" name="txt-apellido" id="txt-apellido" readonly placeholder="Ingrese su apellidos" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{0,54}" maxlength="54" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group tel">
                                        <label class="estilo-01" for="txt-telefono">Teléfono fijo</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone-alt"></i></span></div>
                                            <input class="form-control estilo-01 solo-numero" type="tel" name="txt-telefono" id="txt-telefono" readonly placeholder="Ingrese su teléfono" @*pattern="[0-9]{9,12}"*@ maxlength="10">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group tel">
                                        <label class="estilo-01" for="txt-anexo">Anexo</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span></div>
                                            <input class="form-control estilo-01 solo-numero" type="tel" name="txt-anexo" id="txt-anexo" readonly placeholder="Ingrese su anexo" @*pattern="[0-9]"*@ maxlength="5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group cel">
                                        <label class="estilo-01" for="txt-celular">Teléfono móvil</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-mobile-alt"></i></span></div>
                                            <input class="form-control estilo-01 solo-numero" type="text" name="txt-celular" id="txt-celular" readonly placeholder="Ingrese su celular" @*pattern="[0-9]"*@ maxlength="12" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-pswd">Contraseña</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="top" title="Su contraseña debe incluir 6 caracteres como mínimo, 1 minúscula, 1 mayúscula, 1 número y 1 caracter especial (!@("@")#$&amp;*)."></i></span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div>
                                            @*<input class="form-control estilo-01" type="password" name="txt-pswd" id="txt-pswd" readonly placeholder="Ingrese se contraseña" pattern="(?=.*\d)(?=.*[!@("@")#$&*])(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="new-password" required>*@
                                            <input class="form-control estilo-01" type="password" name="txt-pswd" maxlength="30" id="txt-pswd" readonly placeholder="Ingrese se contraseña" autocomplete="new-password" required>
                                            <div class="input-group-append">
                                                <label class="input-group-text cursor-pointer ver-clave"><i class="fas fa-eye mr-1"></i>Mostrar</label>
                                            </div>
                                        </div>
                                        <div class="nivelSeguridad">
                                            <small class="text-primary">
                                                <div class="fas fa-shield-alt"></div>&nbsp; Nivel de seguridad: &nbsp;<span class="text-primary font-weight-bold" id="nivelseguridad">bajo</span>
                                                <div class="nivelesColores">
                                                    <div class="spanNivelesColores"></div>
                                                </div>
                                            </small>
                                            <div class="NivelesColores"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label class="estilo-01" for="txt-re-pswd">Confirmar contraseña</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div>
                                            <input class="form-control estilo-01" type="password" name="txt-re-pswd" maxlength="30" id="txt-re-pswd" readonly placeholder="Confirmar su contraseña" required>
                                            <div class="input-group-append">
                                                <label class="input-group-text cursor-pointer ver-clave"><i class="fas fa-eye mr-1"></i>Mostrar</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="chk-aporte-ndc">
                                            <label class="custom-control-label estilo-01" for="chk-aporte-ndc">Estás interesado en ayudar al país con su compromiso de cambio climático contribuyendo a la NDC. &nbsp;<a class="estilo-01" href="http://sismrv.minem.gob.pe/" target="_blank">Visitar Plataforma MRV del Sector Energía</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="rayado pt-2 mb-3"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="chk-terminos-condiciones">
                                            <label class="custom-control-label estilo-01" for="chk-terminos-condiciones">Aceptar los términos y condiciones de uso. &nbsp;</label><a class="estilo-01" href="#" data-toggle="modal" data-target="#terminos-condiciones">Ver aquí</a>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="chk-aporte-ndc">
                                            <label class="custom-control-label estilo-01" for="chk-aporte-ndc">Acepta importar sus emisiones reducidas de la NDC. &nbsp;</label>
                                        </div>
                                    </div>*@
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <button class="btn-lg btn-sres-verde w-100" type="submit"><i class="fas fa-paper-plane px-1"></i>Registrarse</button>
                                    <p class="py-4 mb-0 text-center estilo-01">¿Ya tiene una cuenta?&nbsp;<a class="text-sres-verde" href="@Url.Action("Index","Login")">Ingrese ahora <br></a><a class="text-sres-verde" href="@Url.Action("RecuperarContraseña", "Login")">¿Olvidó su contraseña?</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @Html.Partial("_SRES_Documentation")
        </div>
    </div>
</div>
<div class="modal fade" id="terminos-condiciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title estilo-01" id="exampleModalLabel">¿Acepta los Términos y Condiciones de Uso?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body medidas-modal">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3 class="text-center estilo-03">Términos y Condiciones de Uso</h3>
                        <div class="h6 my-4 estilo-02">1. DATOS DE IDENTIFICACIÓN</div>
                        <p class="estilo-01">Usted está visitando el Portal de la Plataforma MRV del sector energía, de titularidad del MINISTERIO DE ENERGÍA Y MINAS., con R.U.C. 20131368829, con domicilio en Av. las Artes Nro. 260, San Borja, provincia y departamento de Lima</p>
                        <div class="h6 my-4 estilo-02">2. ACCESO Y ACEPTACIÓN DEL USUARIO</div>
                        <p class="estilo-01">Estos Términos y Condiciones regulan el acceso y utilización por parte del Usuario de los servicios y facilidades que ofrece el Sitio Web o la Aplicación. La condición de “Usuario” es adquirida por la mera navegación y/o utilización del Sitio Web o la Aplicación.</p>
                        <p class="estilo-01">El Usuario puede acceder y navegar por el Sitio Web o la Aplicación libremente sin necesidad de registrarse y/o suscribirse. Sin embargo, en algunos casos se requerirá del registro y/o suscripción para acceder a los servicios suministrados por "MINEM" o por terceros, a través del Sitio Web o la Aplicación, los cuales pueden estar sujetos a condiciones específicas.</p>
                        <p class="estilo-01">Asimismo, el acceso y navegación por el Sitio Web y la Aplicación por parte del Usuario implica la aceptación sin reservas de todas las disposiciones incluidas en los presentes Términos y Condiciones.</p>
                        <div class="h6 my-4 estilo-02">3. MODIFICACIÓN DE LOS TÉRMINOS Y CONDICIONES</div>
                        <p class="estilo-01">"MINEM" se reserva expresamente el derecho a modificar, actualizar o ampliar en cualquier momento los presentes Términos y Condiciones.</p>
                        <p class="estilo-01">Cualquier modificación, actualización o ampliación producida en los presentes Términos y Condiciones será inmediatamente publicada siendo responsabilidad del Usuario revisar los Términos y Condiciones vigentes al momento de la navegación.</p>
                        <p class="estilo-01">En caso de que el Usuario no estuviera de acuerdo con las modificaciones mencionadas, podrá optar por no hacer uso de los servicios ofrecidos por "MINEM" a través del Sitio Web o la Aplicación.</p>
                        <div class="h6 my-4 estilo-02">4. SERVICIOS OFRECIDOS POR EL SITIO WEB O LA APLICACIÓN</div>
                        <p class="estilo-01">El Sitio Web o la Aplicación ofrecen una plataforma a la que los Usuarios pueden acceder para conocer información y/o noticias de actualidad, tanto nacionales como internacionales. El Usuario también tiene la posibilidad de generar y crear contenido en el Sitio Web o la Aplicación y compartir dichos contenidos a través de redes sociales u otras plataformas, conforme a los estipulado en el numeral 8 de estos Términos y Condiciones.</p>
                        <p class="estilo-01">Los Usuarios reconocen haber proporcionado voluntariamente sus datos personales, de conformidad con nuestra Política de Privacidad, a fin de poder disfrutar de los servicios ofrecidos por el Sitio Web o la Aplicación.</p>
                        <div class="h6 my-4 estilo-02">5. USO DEL SITIO WEB O LA APLICACIÓN</div>
                        <p class="estilo-01">Los servicios que se ofrecen a través del presente Sitio Web o Aplicación se encuentran disponibles sólo para aquellas personas que puedan celebrar contratos legalmente vinculantes de acuerdo a lo establecido por la ley aplicable. Al acceder al Sitio Web o la Aplicación, el Usuario declara ser mayor de 18 años de edad y encontrarse facultado a asumir obligaciones vinculantes con respecto a cualquier tipo de responsabilidad que se produzca por el uso del Sitio Web o la Aplicación.</p>
                        <p class="estilo-01">El Usuario se compromete a utilizar el Sitio Web o la Aplicación de conformidad con la Ley, los presentes Términos y Condiciones, la moral, las buenas costumbres y el orden público. En este sentido, la utilización por parte del Usuario del Sitio Web o la Aplicación se realizará de conformidad con las siguientes directivas:</p>
                        <ul>
                            <li class="estilo-01">El Usuario se obliga a no utilizar el Sitio Web o la Aplicación con fines o efectos ilícitos o contrarios al contenido de los presentes Términos y Condiciones, lesivos de los intereses o derechos de terceros, o que de cualquier forma pueda dañar, inutilizar, deteriorar la plataforma o impedir un normal disfrute del Sitio Web o la Aplicación por otros Usuarios.</li>
                            <li class="estilo-01">El Usuario se compromete expresamente a no destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, programas o documentos electrónicos y demás que se encuentren en el Sitio Web o la Aplicación.</li>
                            <li class="estilo-01">El Usuario se compromete a no obstaculizar el acceso a otros Usuarios mediante el consumo masivo de los recursos informáticos a través de los cuales "MINEM" presta el servicio, así como a no realizar acciones que dañen, interrumpan o generen errores en dichos sistemas o servicios.</li>
                            <li class="estilo-01">El Usuario se compromete a no intentar penetrar o probar la vulnerabilidad de un sistema o de una red propia del Sitio Web o la Aplicación, así como quebrantar las medidas de seguridad o de autenticación del mismo.</li>
                            <li class="estilo-01">El Usuario se compromete a hacer un uso adecuado de los contenidos que se ofrecen en el Sitio Web o la Aplicación y a no emplearlos para incurrir en actividades ilícitas, así como a no publicar ningún tipo de contenido ilícito.</li>
                            <li class="estilo-01">El Usuario se compromete a no utilizar el Sitio Web o la Aplicación para, a modo de referencia, más no limitativo, enviar correos electrónicos masivos (spam) o correos electrónicos con contenido amenazante, abusivo, hostil, ultrajante, difamatorio, vulgar, obsceno o injurioso. Asimismo, se compromete a no utilizar un lenguaje ilícito, abusivo, amenazante, obsceno, vulgar, racista, ni cualquier lenguaje que se considere inapropiado, ni anunciar o proporcionar enlaces a sitios que contengan materia ilegal u otro contenido que pueda dañar o deteriorar la red personal o computadora de otro Usuario.</li>
                        </ul>
                        <p class="estilo-01">"MINEM" se reserva la potestad de determinar a su libre criterio, cuándo se produce la vulneración de cualquiera de los preceptos enunciados en el presente apartado por parte de los contenidos publicados por algún Usuario, así como la potestad de eliminar dichos contenidos del Sitio Web o la Aplicación.</p>
                        <p class="estilo-01">En el caso en que un Usuario infrinja lo establecido en el presente apartado, "MINEM" procederá a realizar alguna de las siguientes acciones, dependiendo de la gravedad o recurrencia de la infracción:</p>
                        <ol>
                            <li class="estilo-01">Amonestación al Usuario.</li>
                            <li class="estilo-01">Suspensión temporal de la cuenta del Usuario.</li>
                            <li class="estilo-01">Cancelación definitiva de la cuenta del Usuario.</li>
                            <li class="estilo-01">Acciones por responsabilidades civiles o penales.</li>
                        </ol>
                        <div class="h6 my-4 estilo-02">6. REGISTRO Y RESPONSABILIDAD POR CONTRASEÑAS</div>
                        <p class="estilo-01">El Usuario podrá navegar por el Sitio Web o la Aplicación sin necesidad de registrarse en una cuenta. Sin embargo, en algunos casos se requerirá del registro y/o suscripción para acceder al Sitio Web o la Aplicación. La cuenta de Usuario no debe incluir el nombre de otra persona con la intención de hacerse pasar por esa persona, ni ser ofensivo, vulgar, obsceno o contrario a la moral y las buenas costumbres.</p>
                        <p class="estilo-01">Los Usuarios registrados y/o suscritos contarán con una clave personal o contraseña con la cual podrán acceder a su cuenta personal. Cada Usuario es responsable de su propia contraseña, y deberá mantenerla bajo absoluta reserva y confidencialidad, sin revelarla o compartirla, en ningún caso, con terceros. Cada Usuario es responsable de todas las acciones realizadas mediante el uso de su contraseña. Toda acción realizada a través de la cuenta personal de un Usuario se presume realizada por el Usuario titular de dicha cuenta.</p>
                        <p class="estilo-01">En el caso de que un Usuario identificara que un tercero conociera y usara su contraseña y su cuenta personal, deberá notificarlo de manera inmediata al "MINEM".</p>
                        <p class="estilo-01">"MINEM" no será responsable de cualquier daño relacionado con la divulgación del nombre de un Usuario o de su contraseña, o del uso que cualquier persona dé al nombre de un Usuario o contraseña.</p>
                        <p class="estilo-01">"MINEM" puede solicitar el cambio de un nombre de Usuario y contraseña cuando considere que la cuenta ya no es segura, o si se recibe alguna queja o denuncia respecto al nombre de un Usuario que viole derechos de terceros.</p>
                        <p class="estilo-01">Las comunicaciones concernientes a la administración de la contraseña pueden ser enviadas a contacto@peruid.pe</p>
                        <div class="h6 my-4 estilo-02">7. PROPIEDAD INTELECTUAL</div>
                        <p class="estilo-01">Todos los derechos de propiedad intelectual del Sitio Web o la Aplicación y de sus contenidos y diseños pertenecen al "MINEM" o, en su caso, a terceras personas. En aquellos casos en que sean propiedad de terceros, "MINEM" cuenta con las licencias necesarias para su utilización.</p>
                        <p class="estilo-01">Quedan expresamente prohibidas la reproducción, distribución, transformación, comunicación pública, puesta a disposición o cualquier modo de utilización, de la totalidad o parte de los contenidos del Sitio Web o la Aplicación, en cualquier soporte y por cualquier medio técnico, sin la autorización de "MINEM". El Usuario se compromete a respetar los derechos de propiedad intelectual de titularidad de "MINEM" y de terceros.</p>
                        <p class="estilo-01">Asimismo, queda expresamente prohibida la utilización o reproducción de cualquier marca registrada, nombre o logotipo que figure en el Sitio Web o la Aplicación sin la autorización previa y por escrito del "MINEM", así como la utilización del software que opera el Sitio Web o la Aplicación con excepción de aquellos usos permitidos bajo estos Términos y Condiciones.</p>
                        <p class="estilo-01">Finalmente, quedan igualmente prohibidas a título enunciativo las siguientes prácticas:</p>
                        <ul>
                            <li class="estilo-01">La presentación de una página del Sitio Web o la Aplicación en una ventana que no pertenezca al "MINEM", mediante la técnica denominada "framing" a no ser que se cuente con la autorización previa y por escrito del "MINEM".</li>
                            <li class="estilo-01">La inserción de una imagen difundida en el Sitio Web o la Aplicación en una página no perteneciente al "MINEM", mediante la técnica denominada "inline linking", si ello no cuenta con la autorización previa y por escrito del "MINEM".</li>
                        </ul>
                        <div class="h6 my-4 estilo-02">8. CONTENIDO GENERADO POR EL USUARIO</div>
                        <p class="estilo-01">Existen determinadas secciones en las que el Usuario puede crear o generar contenido, como las zonas de comentarios, blogs, conversaciones en foros, entre otros. En dichas situaciones el Usuario podrá cargar videos, audios, gráficos, imágenes, producir textos, entre otros, (“Contenido Generado por el Usuario” o “CGU”).</p>
                        <p class="estilo-01">El Usuario se compromete a cumplir las directivas de Uso del Sitio Web o la Aplicación contenidas en el numeral 5 de los presentes Términos y Condiciones. En específico, el Usuario se compromete a no utilizar el Sitio Web o la Aplicación para incluir contenido amenazante, abusivo, hostil, ultrajante, difamatorio, vulgar, obsceno o injurioso. Asimismo, se compromete a no utilizar un lenguaje ilícito, abusivo, amenazante, obsceno, vulgar, racista, ni cualquier lenguaje que se considere inapropiado.</p>
                        <p class="estilo-01">El Usuario declara ser titular originario de todos los derechos de propiedad intelectual sobre el CGU. Sin embargo, al cargar dicho contenido en el Sitio Web o la Aplicación, el Usuario otorga al "MINEM" una autorización o licencia no exclusiva, libre de pago de regalías, ilimitada e irrevocable y que aplica globalmente sobre todos los derechos, títulos e intereses del CGU, a fin de que "MINEM" pueda utilizarlo, incluyendo, entre otros, el derecho a reproducirlo, modificarlo, crear trabajos derivados, editarlo, adaptarlo, traducirlo, distribuirlo, comercializarlo, ponerlo a disposición del público y cualquier forma de utilización, a través de cualquier medio, sea a través del Sitio Web o la Aplicación, como de medios no electrónicos.</p>
                        <p class="estilo-01">Cabe indicar que la autorización brindada al "MINEM" no es exclusiva, razón por la cual el Usuario puede continuar utilizando el CGU en cualquier medio e incluso permitir a otros que lo utilicen, siempre que tal uso no perjudique e interfiera con la autorización y derechos que el Usuario le otorga al "MINEM".</p>
                        <p class="estilo-01">De igual forma, el Usuario reconoce y acepta que otros Usuarios de los Sitios Web o Aplicaciones del "MINEM" visualicen, descarguen, enlacen y accedan al CGU y utilicen dichos contenidos de acuerdo con las posibilidades que el Sitio Web o la Aplicación ofrecen, de conformidad con lo establecido en el numeral 5 de este documento y siempre que no tengan uso comercial.</p>
                        <p class="estilo-01">"MINEM" no garantiza la veracidad, exactitud, exhaustividad y actualidad del CGU en el Sitio Web o la Aplicación. En cualquier caso, el Usuario será el único responsable de las manifestaciones falsas, inexactas o difamatorias que realice y de los perjuicios que pudiera causar al Sitio Web o la Aplicación o a terceros por la información que facilite.</p>
                        <p class="estilo-01">"MINEM" no se hace responsable por el CGU y traslada toda responsabilidad sobre éstos a cada Usuario proveedor de dichos contenidos.</p>
                        <div class="h6 my-4 estilo-02">9. ENLACES DE TERCEROS</div>
                        <p class="estilo-01">En el supuesto de que en el Sitio Web o la Aplicación se dispusieran enlaces o hipervínculos hacia otros sitios de Internet, "MINEM" declara que no ejerce ningún tipo de control sobre dichos sitios y contenidos. En ningún caso "MINEM" asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a una web ajena, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en los hipervínculos u otros lugares de Internet.</p>
                        <p class="estilo-01">Estos enlaces se proporcionan únicamente para informar al Usuario sobre la existencia de otras fuentes de información sobre un tema concreto, y la inclusión de un enlace no implica la aprobación de la página web enlazada por parte del "MINEM".</p>
                        <div class="h6 my-4 estilo-02">10. LIMITACIÓN DE RESPONSABILIDAD E INDEMNIDAD</div>
                        <p class="estilo-01">Salvo que así lo establezca la legislación aplicable de obligado cumplimiento, el uso que el Usuario haga del Sitio Web o la Aplicación o de todas las funcionalidades que el Sitio Web o la Aplicación ofrecen, incluyendo cualquier contenido, publicación o herramienta, se ofrece “tal cual” y “según su disponibilidad” sin declaraciones o garantías de ningún tipo, tanto explícitas como implícitas, incluidas entre otras, las garantías de comerciabilidad, adecuación a un fin particular y no incumplimiento. "MINEM" no garantiza que el Sitio Web o la Aplicación sea siempre seguro o esté libre de errores, ni que funcione siempre sin interrupciones, retrasos o imperfecciones.</p>
                        <p class="estilo-01">"MINEM" no se hace responsable de los posibles daños o perjuicios en el Sitio Web o la Aplicación que se puedan derivar de interferencias, omisiones, interrupciones, virus informáticos, averías o desconexiones en el funcionamiento operativo del sistema electrónico, de retrasos o bloqueos en el uso de este sistema electrónico causados por deficiencias o sobrecargas en el sistema de Internet o en otros sistemas electrónicos, así como también de daños que puedan ser causados por terceras personas mediante intromisiones ilegítimas fuera del control del "MINEM".</p>
                        <p class="estilo-01">Asimismo, "MINEM" no se hace responsable por la calidad, utilidad e idoneidad de los productos, servicios o facilidades ofrecidas al Usuario a través del Sitio Web o la Aplicación, y no responderá por las posibles reclamaciones que se pudieran formular relacionadas con este extremo.</p>
                        <div class="h6 my-4 estilo-02">11. DATOS DE CARÁCTER PERSONAL</div>
                        <p class="estilo-01">Los distintos tratamientos de datos personales que "MINEM" realiza a través del Sitio Web o la Aplicación, así como las finalidades de dichos tratamientos, serán detallados específicamente en la Política de Privacidad del Sitio Web o la Aplicación a la que el Usuario podrá acceder a través del siguiente enlace: Política de Privacidad.</p>
                        <div class="h6 my-4 estilo-02">12. COMUNICACIONES</div>
                        <p class="estilo-01">El Usuario acepta expresamente que la dirección de correo electrónico consignada en el formulario de registro y/o suscripción será el medio de contacto oficial entre el Sitio Web o la Aplicación y el Usuario, siendo absoluta responsabilidad de este último verificar que dicho correo electrónico esté siempre activo y funcional para poder recibir todas las comunicaciones procedentes del Sitio Web o la Aplicación</p>
                        <p class="estilo-01">Los mensajes o comunicaciones del Sitio Web o la Aplicación a los Usuarios sólo pueden provenir de las páginas o cuentas oficiales de éste en redes sociales u otros medios. En caso se detectará que algún Usuario está enviando comunicaciones o realizando publicaciones en nombre del Sitio Web o la Aplicación, "MINEM" iniciará las acciones correctivas y legales pertinentes a fin de proteger al resto de Usuarios de posibles riesgos de confusión.</p>
                        <p class="estilo-01">De otro lado, toda comunicación que el Usuario desee dirigir al Sitio Web o la Aplicación deberá realizarla a través de la siguiente dirección de correo electrónico: jlira@gestion.com.pe</p>
                        <div class="h6 my-4 estilo-02">13. FUERZA MAYOR</div>
                        <p class="estilo-01">"MINEM" no será responsable por cualquier retraso o falla en el rendimiento o la interrupción en la prestación de los servicios que pueda resultar directa o indirectamente de cualquier causa o circunstancia más allá de su control razonable, incluyendo, pero sin limitarse a fallas en los equipos o las líneas de comunicación electrónica o mecánica, robo, errores del operador, clima severo, terremotos o desastres naturales, huelgas u otros problemas laborales, guerras, o restricciones gubernamentales.</p>
                        <div class="h6 my-4 estilo-02">14. LIBRO DE RECLAMACIONES</div>
                        <p class="estilo-01">Conforme a lo establecido en el Código de Protección y Defensa del Consumidor, Ley N° 29571, el Sitio Web o la Aplicación pone a disposición del Usuario un Libro de Reclamaciones virtual a fin de que éste pueda registrar sus quejas o reclamos formales sobre los servicios ofrecidos a través del Sitio Web o la Aplicación. El Libro de Reclamaciones virtual puede ser encontrado en el siguiente enlace: http://link.com/libro-reclamaciones.</p>
                        <div class="h6 my-4 estilo-02">15. AUTORIDADES Y REQUERIMIENTOS LEGALES</div>
                        <p class="estilo-01">"MINEM" coopera con las autoridades competentes y con terceros para garantizar el cumplimiento de las leyes en materia de protección de derechos de propiedad intelectual, prevención del fraude, protección al consumidor y otras materias.</p>
                        <p class="estilo-01">"MINEM" podrá revelar la información personal del Usuario del Sitio Web o la Aplicación bajo requerimiento de las autoridades judiciales o gubernamentales competentes, en la medida en que discrecionalmente lo entienda necesario, para efectos de investigaciones conducidas por ellas, cuando se trate de investigaciones de carácter penal o de fraude, o las relacionadas con piratería informática, la violación de derechos de autor, infracción de derechos de propiedad intelectual u otra actividad ilícita o ilegal que pueda exponer al Sitio Web o la Aplicación o a sus Usuarios a cualquier responsabilidad legal.</p>
                        <p class="estilo-01">Asimismo, "MINEM" se reserva el derecho de comunicar información sobre sus Usuarios a otros Usuarios, a entidades o a terceros, cuando haya motivos suficientes para considerar que la actividad de un Usuario sea sospechosa de intentar o cometer un delito o intentar perjudicar a otras personas. Este derecho será utilizado por "MINEM" a su entera discreción cuando lo considere apropiado o necesario para mantener la integridad y seguridad del Sitio Web o la Aplicación y la de sus Usuarios, para hacer cumplir los presentes Términos y Condiciones, y a efectos de cooperar con la ejecución y cumplimiento de la ley.</p>
                        <div class="h6 my-4 estilo-02">16. INEXISTENCIA DE SOCIEDAD O RELACIÓN LABORAL</div>
                        <p class="estilo-01">La participación de un Usuario en el Sitio Web o la Aplicación no constituye ni crea contrato de sociedad, de representación, de mandato, como así tampoco relación laboral alguna entre dicho Usuario y "MINEM".</p>
                        <div class="h6 my-4 estilo-02">17. CESIÓN DE POSICIÓN CONTRACTUAL</div>
                        <p class="estilo-01">Los Usuarios autorizan expresamente la cesión de estos Términos y Condiciones y de su información personal en favor de cualquier persona que (i) quede obligada por estos Términos y Condiciones y/o (ii) que sea el nuevo responsable del banco de datos que contenga su información personal. Luego de producida la cesión, "MINEM" no tendrá ninguna responsabilidad con respecto de cualquier hecho que ocurra partir de la fecha de la cesión. El nuevo responsable asumirá todas y cada una de las obligaciones del "MINEM" establecidas en los presentes Términos y Condiciones y en la Política de Privacidad respecto al tratamiento, resguardo y conservación de la información personal de los usuarios del Sitio Web o la Aplicación.</p>
                        <div class="h6 my-4 estilo-02">18. LEY APLICABLE Y JURISDICCIÓN</div>
                        <p class="estilo-01">Los presentes Términos y Condiciones se rigen por la ley peruana y cualquier disputa que se produzca con relación a la validez, aplicación o interpretación de los mismos, incluyendo la Política de Privacidad, será resuelta en los tribunales del Cercado de Lima.</p>
                        <p class="estilo-01">Fecha de última actualización: 01/07/2020.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" type="button" id="aceptar-terminos-condiciones">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var validarPIDE = 0;
    var idDepartamentoPIDE = '';
    var idProvinciaPIDE = '';
    var idDistritoPIDE = '';
    var idContribuyentePIDE = '';
</script>