@{
    ViewBag.Titulo = "Inicio";
    ViewBag.SRESDescription = false;
    ViewBag.Slider = new Dictionary<int, Dictionary<string, object>>
    {
        [1] = new Dictionary<string, object>
        {
            ["Imagen"] = "~/Assets/images/carousel-01.jpg",
            ["Titulo"] = "¡REGÍSTRATE AHORA!",
            ["SubTitulo"] = "Y OBTÉN LOGROS POR TU COMPROMISO",
            ["Descripcion"] = "El Reconocimiento de Energía Eficiente y Sostenible (REES) es un distintivo entregado por el Ministerio de Energía y Minas, a través de la Dirección General de Eficiencia Energética.",
            ["Html"] = $"<a class='btn btn-sm btn-sres-linea-blanca wow slideInUp' href='{Url.Action("Informacion", "Convocatoria")}'>CONVOCATORIAS</a><a class='btn btn-sm btn-sres-linea-azul ml-3 wow slideInUp' href='{Url.Action("Reconocimientos-y-Criterio", "Participantes")}'>RECONOCIMIENTOS</a>"
        },
        [2] = new Dictionary<string, object>
        {
            ["Imagen"] = "~/Assets/images/carousel-02.jpg",
            ["Titulo"] = "¡POSTULA YA!",
            ["SubTitulo"] = "EL RECONOCIMIENTO DE ENERGÍA EFICIENTE Y SOSTENIBLE (REES)",
            ["Descripcion"] = "Será otorgado a aquellas entidades públicas y/o privadas que demuestren un alto compromiso y liderazgo en el uso eficiente y responsable de la energía.",
            ["Html"] = $"<a class='btn btn-sm btn-sres-linea-blanca wow slideInUp' href='{Url.Action("Informacion", "Convocatoria")}'>CONVOCATORIAS</a><a class='btn btn-sm btn-sres-linea-azul ml-3 wow slideInUp' href='{Url.Action("Reconocimientos-y-Criterio", "Participantes")}'>RECONOCIMIENTOS</a>"
        },
        [3] = new Dictionary<string, object>
        {
            ["Imagen"] = "~/Assets/images/carousel-03.jpg",
            ["Titulo"] = "¿ESTÁS LISTO?",
            ["SubTitulo"] = "YA TENEMOS LA PRIMERA FECHA",
            ["Descripcion"] = "La convocatoria se inicia en noviembre. Último día para presentar los mecanismos postulación es el <small class='badge badge-primary estilo-01'>20 de noviembre 2020.</small>",
            ["Html"] = $"<a class='btn btn-sm btn-sres-linea-blanca wow slideInUp' href='{Url.Action("Informacion", "Convocatoria")}'>CONVOCATORIAS</a><a class='btn btn-sm btn-sres-linea-azul ml-3 wow slideInUp' href='{Url.Action("Reconocimientos-y-Criterio", "Participantes")}'>RECONOCIMIENTOS</a>"
        }
        //,
        //[4] = new Dictionary<string, object>
        //{
        //    ["Imagen"] = "~/Assets/images/carousel-04.jpg",
        //    ["Titulo"] = "¡REGÍSTRATE AHORA!",
        //    ["SubTitulo"] = "Y OBTÉN LOGROS POR TU COMPROMISO",
        //    ["Descripcion"] = "El Sello de Reconocimiento de Energía Sostenible es un distintivo entregado por el Ministerio de Energía y Minas, a través de la Dirección General de Eficiencia Energética.",
        //    ["Html"] = $"<a class='btn btn-sm btn-sres-linea-blanca wow slideInUp' href='{Url.Action("Informacion", "Convocatoria")}'>CONVOCATORIAS</a><a class='btn btn-sm btn-sres-linea-azul ml-3 wow slideInUp' href='{Url.Action("Reconocimientos-y-Criterio", "Participantes")}'>RECONOCIMIENTOS</a>"
        //},
        //[5] = new Dictionary<string, object>
        //{
        //    ["Imagen"] = "~/Assets/images/carousel-05.jpg",
        //    ["Titulo"] = "¡POSTULA YA!",
        //    ["SubTitulo"] = "EL SELLO DE RECONOCIMIENTO DE ENERGÍA SOSTENIBLE",
        //    ["Descripcion"] = "Será otorgado a aquellas entidades públicas y/o privadas que demuestren un alto compromiso y liderazgo en el uso eficiente y responsable de la energía.",
        //    ["Html"] = $"<a class='btn btn-sm btn-sres-linea-blanca wow slideInUp' href='{Url.Action("Informacion", "Convocatoria")}'>CONVOCATORIAS</a><a class='btn btn-sm btn-sres-linea-azul ml-3 wow slideInUp' href='{Url.Action("Reconocimientos-y-Criterio", "Participantes")}'>RECONOCIMIENTOS</a>"
        //},
        //[6] = new Dictionary<string, object>
        //{
        //    ["Imagen"] = "~/Assets/images/carousel-06.jpg",
        //    ["Titulo"] = "¿ESTÁS LISTO?",
        //    ["SubTitulo"] = "YA TENEMOS LA PRIMERA FECHA",
        //    ["Descripcion"] = "La convocatoria se inicia en noviembre. Último día para presentar los mecanismos postulación es el <small class='badge badge-primary estilo-01'>20 de noviembre 2020.</small>",
        //    ["Html"] = $"<a class='btn btn-sm btn-sres-linea-blanca wow slideInUp' href='{Url.Action("Informacion", "Convocatoria")}'>CONVOCATORIAS</a><a class='btn btn-sm btn-sres-linea-azul ml-3 wow slideInUp' href='{Url.Action("Reconocimientos-y-Criterio", "Participantes")}'>RECONOCIMIENTOS</a>"
        //}
    };
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/inicio.js")"></script>
}
@*<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5 text-sres-azul estilo-03 wow slideInUp">RECONOCIMIENTO DE ENERGÍA EFICIENTE Y SOSTENIBLE</h1>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">El Reconocimiento de Energía Eficiente y Sostenible <b>(REES)</b> es un distintivo otorgada por el <b>Ministerio de Energía y Minas del Perú</b> a través de su órgano directivo la <b>Dirección General de Eficiencia Energética</b>, a aquellas entidades que demuestren un alto compromiso y liderazgo en el uso eficiente y responsable de la energía.</p>
                <p class="text-justify mb-5 estilo-01 text-sres-gris wow slideInUp">Estas entidades, que pueden ser de carácter público o privado en todos los sectores (productivo o de servicios, industrial o comercial, entre otros), logran generar una cultura organizacional sobre el uso óptimo de los recursos energéticos, contribuyendo directamente en la reducción de gases de efecto invernadero significando un aporte a las medidas de adaptación y mitigación expresadas en las Contribuciones Nacionalmente Determinadas <b>(NDC)</b>.</p>
            </div>
        </div>
    </div>
</div>*@
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5 text-sres-azul estilo-03 wow slideInUp">El Reconocimiento de Energía Eficiente y Sostenible</h1>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">El Reconocimiento de Energía Eficiente y Sostenible (REES) es un <b>distintivo otorgada por el Ministerio de Energía y Minas del Perú</b> a través de su órgano directivo la Dirección General de Eficiencia Energética, a aquellas entidades que demuestren un alto compromiso y liderazgo en el uso eficiente y responsable de la energía.</p>
                <p class="text-justify mb-4 estilo-01 text-sres-gris wow slideInUp">Con él se busca reconocer a <b>entidades y empresas del Estado</b>, así como <b>a las empresas privadas  a nivel nacional, que integran en su cultura organizacional el óptimo uso responsable y sostenible de la energía</b>, así como el desarrollo de la eficiencia y gestión energética implementada en sus instalaciones y procesos, permitiendo así, incentivar al ahorro de energía primaria, reducción de costos energéticos y aumentar su competitividad.</p>
                <p class="text-justify mb-5 estilo-01 text-sres-gris wow slideInUp">De esta manera estas organizaciones suman a los esfuerzos del Estado por conseguir la eficiencia energética, así como reducir la emisión de gases de efecto invernadero, en cumplimiento de las medidas de adaptación y mitigación expresadas en las Contribuciones Nacionalmente Determinadas (NDC).</p>
            </div>
        </div>
    </div>
</div>
@*<div class="container-fluid set-bg franja" data-setbg="@Url.Content("~/Assets/images/reunion_acuerdo_paris.png")">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="row">
                    <div class="col-lg-4 col-ms-12 col-sm-12 d-flex justify-content-center"><img class="wow slideInLeft" src="@Url.Content("~/Assets/images/acuerdo_paris.png")" alt="Acuerdo de París"></div>
                    <div class="col-lg-8 col-ms-12 col-sm-12 mt-5 mt-lg-0 d-flex align-items-center text-white text-justify barra-blanca">
                        <p class="wow slideInRight">Nuestras NDC se enmarcan en el Acuerdo de París sobre cambio climático en diciembre del 2015 y ratificado por el Perú el 22 de julio de 2016, el cual entró en vigor el 4 de noviembre del mismo año.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="container-fluid set-bg franja" data-setbg="@Url.Content("~/Assets/images/reunion_acuerdo_paris.png")">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="row">
                    <div class="col-lg-4 col-ms-12 col-sm-12 d-flex justify-content-center"><img class="wow slideInLeft" src="@Url.Content("~/Assets/images/rees_reconocimientos.png")" alt="Reconocimientos REES"></div>
                    <div class="col-lg-8 col-ms-12 col-sm-12 mt-5 mt-lg-0 d-flex align-items-center text-white text-justify barra-blanca">
                        <p class="wow slideInRight">El Reconocimiento de Energía Eficiente y Sostenible es un distintivo que incrementa la competitividad de la entidad, añade valor a la marca en la percepción de sus clientes, otras entidades de la competencia, y su entorno.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">OBJETIVO</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">El Reconocimiento de Energía Eficiente y Sostenible (REES) busca identificar y premiar a entidades y empresas del Estado, así como en las empresas privadas a nivel nacional en, además de la reducción de gases de efecto invernadero.</p>
                <!--p.text-justify.estilo-01.text-sres-gris.wow.slideInUp El Sello de reconocimiento de energía sostenible es una distinción que premia al esfuerzo de las entidades, categorizada en tres niveles: <a href="./categorias-y-reconocimientos.html" class="text-sres-verde">Oro, Plata y Bronce</a>, a los cuales se acceden <b>mediante el cumplimiento de 8 criterios</b>-->
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Estas entidades asumen un compromiso, que cumplen y desarrollan obteniendo resultados cuantificables, dando evidencia de las buenas prácticas y <b>destacándose entre otras del mismo rubro</b>. Estos esfuerzos generan finalmente una percepción positiva entre sus clientes y la sociedad.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                @*<div class="row">
                    <div class="col-12 mb-5">
                        <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">BENEFICIOS</h2>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInUp">La integración de mejoras para alcanzar la gestión sostenible de los recursos energéticos trae numerosos beneficios a la entidad que las implementa: <b>integración de tecnologías modernas y limpias</b>; mejora de los indicadores de desempeño energético, reducción de costos en la facturación mensual por consumo de energía; <b>promoción y uso de las energías renovables</b>, y <b>reducción de emisiones de CO2</b>. Además, aporta a la mejora del clima laboral y de las relaciones interpersonales, al asumir compromisos por actividades desarrolladas con el mismo fin.</p>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Asimismo, el reconocimiento de energía eficiente y sostenible es un <b>distintivo que incrementa la competitividad de la entidad</b>,<b> añade valor a la marca en la percepción de sus clientes</b>, otras entidades de la competencia, y su entorno.</p>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-12 mb-5">
                        <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInLeft">BENEFICIOS</h2>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInLeft">La integración de mejoras para alcanzar la gestión sostenible de los recursos energéticos trae numerosos beneficios a la entidad que las implementa:</p>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInUp">
                            <ul>
                                <li class="estilo-01 text-sres-gris wow slideInUp">Integración de tecnologías modernas y limpias</li>
                                <li class="estilo-01 text-sres-gris wow slideInUp">Mejora de los indicadores de desempeño energético</li>
                                <li class="estilo-01 text-sres-gris wow slideInUp">Reducción de costos en la facturación mensual por consumo de energía</li>
                                <li class="estilo-01 text-sres-gris wow slideInUp">Promoción y uso de las energías renovables  y</li>
                                <li class="estilo-01 text-sres-gris wow slideInUp">Reducción de emisiones de CO<sub>2</sub></li>
                            </ul>
                        </p>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInLeft">Además, aporta a la mejora del clima laboral y de las relaciones interpersonales, al asumir compromisos por actividades desarrolladas con el mismo fin.</p>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-12 mb-5">
                        <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">IMPORTANCIA</h2>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInUp">El <b>REES destaca a las entidades</b> que buscan la mejora continua del desempeño energético y así contribuyen al desarrollo sostenible, promoviendo la reducción de emisiones de GEI, y por lo tanto, <b>aportan al cumplimiento de metas de las NDC</b>.</p>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Estas entidades asumen un compromiso, que cumplen y desarrollan obteniendo resultados cuantificables, dando evidencia de las buenas prácticas y <b>destacándose entre otras del mismo rubro</b>. Estos esfuerzos generan finalmente una percepción positiva entre sus clientes y la sociedad.</p>
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-12 mb-5">
                        <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">MARCO LEGAL</h2>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInUp">En marco del <b>Decreto Supremo Nº 053-2007-EM</b> reglamento de la Ley de Promoción del Uso Eficiente de la Energía - <b>Ley Nº 27345</b>, según lo señalado en el <b>Artículo N°9</b>, el Ministerio de Energía y Minas propondrá criterios de evaluación para premios nacionales, en ese sentido la Dirección General de Eficiencia Energética en cumplimiento de lo señalado ha desarrollado esta herramienta para reconocimiento de energía sostenible, con el fin de promover iniciativas por parte de instituciones públicas y privadas para mitigar emisiones mediante eficiencia energética, las cuales serán reportadas en las contribuciones Nacionalmente Determinadas del Perú (<b>NDC – Perú</b>) presentadas en la COP 21 en diciembre del 2015, la mismas que fueron ratificadas en abril del 2016, mediante <b>Decreto Supremo Nº 058-2016-RE</b>.</p>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-12 mb-5">
                        <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInLeft">MARCO LEGAL</h2>
                        <p class="text-justify estilo-01 text-sres-gris wow slideInLeft">En marco del <b>Decreto Supremo Nº 053-2007-EM</b> reglamento de la Ley de Promoción del Uso Eficiente de la Energía - <b>Ley Nº 27345</b>, según lo señalado en el <b>Artículo N°9</b>, el Ministerio de Energía y Minas propondrá criterios de evaluación para premios nacionales, en ese sentido la Dirección General de Eficiencia Energética en cumplimiento de lo señalado ha desarrollado esta herramienta para reconocimiento de energía sostenible, con el fin de promover iniciativas por parte de instituciones públicas y privadas para mitigar emisiones mediante eficiencia energética, las cuales serán reportadas en las contribuciones Nacionalmente Determinadas del Perú (<b>NDC – Perú</b>) presentadas en la COP 21 en diciembre del 2015, la mismas que fueron ratificadas en abril del 2016, mediante <b>Decreto Supremo Nº 058-2016-RE</b>.</p>
                    </div>
                </div>
            </div>
            @Html.Partial("_SRES_Documentation")

        </div>
    </div>
</div>
<div class="container-fluid set-bg franja" data-setbg="@Url.Content("~/Assets/images/preguntas_frecuentes.png")" style="margin-bottom: -6rem;">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="row">
                    <!--.col-lg-4.col-ms-12.col-sm-12.d-flex.justify-content-centerimg.wow.slideInLeft(src="./images/acuerdo_paris.png", alt="Acuerdo de París")
                    -->
                    <div class="col-lg-12 col-ms-12 col-sm-12 mt-5 mt-lg-0 d-flex align-items-center text-white barra-blanca">
                        <p class="estilo-03 text-center d-block w-100 wow slideInRight">¿DUDAS? <a class="estilo-03 text-white" href="@Url.Action("Preguntas-frecuentes","Participantes")">CONSULTA NUESTRAS PREGUNTAS FRECUENTES</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="modal-criterios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="">
                <div class="modal-header bg-sres-azul text-white">
                    <h5 class="modal-title estilo-01" id="exampleModalLabel">CRITERIO DE EVALUACIÓN</h5>
                    <button class="text-white close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </form>
            <div class="modal-body medidas-modal">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 d-flex justify-content-center align-items-center"><img id="criterio-imagen" src="./images/criterio-01.png"></div>
                    <div class="col-lg-9 col-md-12 col-sm-12">
                        <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado" id="criterio-titulo">BENEFICIOS</h2>
                        <p class="text-justify estilo-01 text-sres-gris" id="criterio-parrafo">La integración de mejoras para alcanzar la gestión sostenible de los recursos energéticos trae numerosos beneficios a la entidad que las implementa: <b>integración de tecnologías modernas y limpias</b>; mejora de los indicadores de desempeño energético, reducción de costos en la facturación mensual por consumo de energía; <b>promoción y uso de las energías renovables</b>, y <b>reducción de emisiones de CO2</b>. Además, aporta a la mejora del clima laboral y de las relaciones interpersonales, al asumir compromisos por actividades desarrolladas con el mismo fin.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>*@