@model sres.app.Models.CriterioMO

@{
    Layout = null;
}


@{
    var i = 0;
    var total_reg = 0;
    var total_pag = 0;
    var inicio_reg = 0;
    var fin_reg = 0;
}


    <div>
        
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12 px-0">
                    <div class="table-responsive tabla-principal">
                        <table class="table table-hover">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th class="text-center" scope="col" width="5%"><span class="miColumna">N°&nbsp;<i class="fas fa-sort" style="color: lightgray" id="ID_CRITERIO"></i></span></th>
                                    <th scope="col" width="85%"><span class="miColumna">Criterio&nbsp;<i class="fas fa-sort-up" style="color: white" id="DESCRIPCION"></i></span></th>
                                    <th class="text-center" scope="col" width="10%">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpoMantenimiento">

                                @if (Model.lista != null)
                                {

                                    foreach (var item in Model.lista)
                                    {
                                        i++;
                                        <tr>
                                            <th class="text-center" data-encabezado="Número" scope="row">@item.ID_CRITERIO</th>
                                            <td data-encabezado="Descripcion">@item.NOMBRE</td>
                                            <td class="text-center text-xs-right" data-encabezado="Acciones">
                                                <div class="btn-group">
                                                    <div class="acciones fase-01 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#" onclick="fn_cargarDatosMantenimiento(@item.ID_CRITERIO);" data-toggle="modal" data-target="#modal-edicion">
                                                            <i class="fas fa-edit"></i>&nbsp;
                                                            Editar
                                                        </a><a class="dropdown-item" href="#" onclick="fn_Seleccionaregistro(@item.ID_CRITERIO)" data-toggle="modal" data-target="#modal-confirmacion">
                                                            <i class="fas fa-trash"></i>&nbsp;
                                                            Eliminar
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        total_reg = @item.TOTAL_REGISTROS;
                                        total_pag = @item.TOTAL_PAGINAS;
                                    }
                                }
                            </tbody>
                        </table>
                        @{
                            if (total_reg == 0)
                            {
                                inicio_reg = 0;
                                fin_reg = 0;
                            }
                            else if (total_reg <= 10)
                            {
                                inicio_reg = 1;
                                fin_reg = total_reg;
                            }
                            else if (total_reg > 10)
                            {
                                inicio_reg = 1;
                                fin_reg = 10;
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

