@{
    ViewBag.Titulo = "Mantenimiento Usuario";
    ViewBag.SRESDescription = false;
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/mantenimiento_usuario.js")"></script>
}

<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="estilo-05" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Inicio")">Inicio</a></li>
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("TablaMantenimiento","Mantenimiento")">Mantenimiento de Tablas</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mantenimiento de Usuarios</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="estilo-03 text-sres-azul">Mantenimiento de Usuarios</h2>
            </div>
            <div class="col-lg-3">
                <span data-toggle="modal" data-target="#modal-mantenimiento">
                    <div class="btn btn-sres-verde btn-lg w-100 mb-2" id="btnNuevo" data-toggle="tooltip" data-placement="top" title="Agregar un nuevo usuario">Agregar usuario</div>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="rayado wow fadeIn"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro" for="txt-descripcion">DESCRIPCIÓN</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="text" id="txt-descripcion" placeholder="Ingrese la descripción de su búsqueda" maxlength="80">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro">&nbsp;</label>
                    <div class="input-group">
                        <button class="btn btn-primary w-100" id="btnConsultar">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive tabla-principal">
                    <table class="table table-sm table-hover" id="tblUsuario">
                        <thead class="estilo-06">
                            <tr>
                                <th scope="col" width="3%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">N°&nbsp;@*<i class="fas fa-sort"></i>*@</div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Número de orden"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="8%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">CÓDIGO&nbsp;</div><i class="fas fa-sort columna-filtro" id="ID_USUARIO"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="código del usuario"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="14%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">NOMBRE Y APELLIDOS&nbsp;</div><i class="fas fa-sort columna-filtro" id="NOMBRES"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Nombres y apellidos del usuario"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="13%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">CORREO ELECTRÓNICO&nbsp;</div><i class="fas fa-sort columna-filtro" id="CORREO"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Correo electrónico del usuario"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="13%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">INSTITUCIÓN&nbsp;</div><i class="fas fa-sort columna-filtro" id="INSTITUCION"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Institución al que pertenece el usuario"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="13%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">TELÉFONO/CELULAR&nbsp;</div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Teléfono/celular del usuario"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="13%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">PERFIL&nbsp;</div><i class="fas fa-sort columna-filtro" id="PERFIL"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Perfil del usuario"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="13%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">ESTADO&nbsp;</div><i class="fas fa-sort columna-filtro" id="ESTADO"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Estado actual del usuario"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">GESTIÓN&nbsp;</div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Herramientas y opciones"></i></div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="estilo-01"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 mt-4 estilo-01 d-flex justify-content-start align-items-center">
                <div class="row">
                    <div class="col-12"><strong>Resultado:&nbsp;</strong><span class="inicio-registros">1</span><span id="view-page-result">-<span class="fin-registros">1</span> de <span class="total-registros">1</span> registros</span></div>
                </div>
            </div>
            <div id="viewPagination" class="col-sm-12 col-lg-6 mt-4 estilo-01 d-flex justify-content-end align-items-center" style="display: none">
                <div class="row">
                    <div class="col-12">
                        <strong>Registros por página&nbsp;</strong>
                        <select id="catidad-rgistros">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;
                        <span class="pagina">1</span> de <span class="total-paginas">75</span> páginas&nbsp;
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button class="btn btn-sm btn-primary" type="button" onclick="fn_avance_grilla(1)"><i class="fas fa-angle-double-left"></i></button>
                            <button class="btn btn-sm btn-primary" type="button" onclick="fn_avance_grilla(2)"><i class="fas fa-angle-left"></i></button>
                            <input id="ir-pagina" class="ir-pagina" type="number" value="1" min="1">
                            <button class="btn btn-sm btn-primary" type="button" onclick="fn_avance_grilla(3)"><i class="fas fa-angle-right"></i></button>
                            <button class="btn btn-sm btn-primary" type="button" onclick="fn_avance_grilla(4)"><i class="fas fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-mantenimiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="" id="frmUsuario">
                <div class="modal-header bg-sres-azul text-white">
                    <h5 class="modal-title estilo-01" id="exampleModalLabel">REGISTRAR ...</h5>
                    <button class="text-white close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-user-correo">Email</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-info-circle ayuda-tooltip" data-toggle="tooltip" data-placement="bottom" title="Si el correo está disponible y el formato del mismo es correcto, se habilitarán los campos"></i></span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-envelope"></i></span></div>
                                    <input class="form-control" type="text" id="txt-user-correo" placeholder="Dirección de email" maxlength="80" aria-describedby="inputGroup1" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-nombre">Nombre</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup3"><i class="fas fa-user"></i></span></div>
                                    <input class="form-control" type="text" id="txt-nombre" placeholder="Ingrese su nombre" maxlength="28" aria-describedby="inputGroup3" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-apellido">Apellido</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-user"></i></span></div>
                                    <input class="form-control" type="text" id="txt-apellido" placeholder="Ingrese su apellido" maxlength="48" aria-describedby="inputGroup4" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-telefono">Teléfono</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup11"><i class="fas fa-phone-alt"></i></span></div>
                                    <input class="form-control solo-numero" type="text" id="txt-telefono" placeholder="Ingrese su teléfono" maxlength="9" aria-describedby="inputGroup11" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-anexo">Anexo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup12"><i class="fas fa-phone-square-alt"></i></span></div>
                                    <input class="form-control solo-numero" type="text" id="txt-anexo" placeholder="Ingrese su anexo" maxlength="5" aria-describedby="inputGroup12" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-celular">Celular</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup5"><i class="fas fa-mobile-alt"></i></span></div>
                                    <input class="form-control solo-numero" type="text" id="txt-celular" placeholder="Ingrese su celular" maxlength="12" aria-describedby="inputGroup5" readonly>
                                </div>
                            </div>
                            <div class="form-group admin-edit">
                                <label for="mlt-gei">Estado<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-shield-alt"></i></span></div>
                                    <div class="form-control" style="height:85px; overflow-y: auto;">
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-radio mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="rad-estado" id="rad-01" disabled>
                                                <label class="custom-control-label badge badge-actor-aprobado" for="rad-01"><i class="fas fa-check-circle mr-1"></i>Habilitar</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-radio mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="rad-estado" id="rad-02" disabled>
                                                <label class="custom-control-label badge badge-actor-desaprobado" for="rad-02"><i class="fas fa-times-circle mr-1"></i>Deshabilitar</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label for="mlt-gei">Importación MRV</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-shield-alt"></i></span></div>
                                    <div class="form-control" style="height:90px; overflow-y: auto;">
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-radio mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="rad-mrv" id="rad-03">
                                                <label class="custom-control-label badge badge-actor-aprobado" for="rad-03"><i class="fas fa-check-circle mr-1"></i>Si</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-radio mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="rad-mrv" id="rad-04">
                                                <label class="custom-control-label badge badge-actor-desaprobado" for="rad-04"><i class="fas fa-times-circle mr-1"></i>No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="estilo-01" for="txt-ruc">RUC</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-info-circle ayuda-tooltip" data-toggle="tooltip" data-placement="bottom" title="Ingrese el RUC para validar si la Institución ya está registrada"></i></span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup7"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control solo-numero" type="text" id="txt-ruc" placeholder="Ingrese su RUC" aria-describedby="inputGroup7" maxlength="11" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-institucion">Institución</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup6"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control" type="text" id="txt-institucion" placeholder="Ingrese su institución" maxlength="90" aria-describedby="inputGroup6" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-direccion">Domicilio legal</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup8"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control" type="text" id="txt-direccion" placeholder="Ingrese su dirección" maxlength="110" aria-describedby="inputGroup8" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cbo-sector">Sector</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <select class="form-control" id="cbo-sector" aria-describedby="inputGroup9" disabled>
                                        @*<option>-Seleccione un sector-</option>
                                        <option>Sector 01</option>
                                        <option>Sector 02</option>
                                        <option>Sector 03</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="form-group editar-usuario-sres">
                                <label for="cbo-perfil">Perfil</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="fas fa-user"></i></span></div>
                                    <select class="form-control" id="cbo-perfil" aria-describedby="inputGroup10" disabled></select>
                                </div>
                            </div>
                            <div class="form-group editar-usuario-sres">
                                <label class="estilo-01" for="txt-pswd">Contraseña</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-info-circle ayuda-tooltip" data-toggle="tooltip" data-placement="top" title="Su contraseña debe incluir 6 caracteres como mínimo, 1 minúscula, 1 mayúscula, 1 número y 1 caracter especial (!@("@")#$&amp;*)."></i></span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div><input class="form-control estilo-01 sin-espacio" type="password" name="txt-pswd" id="txt-pswd" maxlength="20" readonly placeholder="Ingrese su contraseña" autocomplete="new-password" required>
                                    <div class="input-group-append">
                                        <label class="input-group-text cursor-pointer ver-clave"><i class="fas fa-eye mr-1"></i>Mostrar</label>
                                    </div>
                                </div>
                                <div class="nivelSeguridad">
                                    <small class="text-primary">
                                        <div class="fas fa-shield-alt"></div>&nbsp; Nivel de seguridad: &nbsp;<span class="text-primary font-weight-bold" id="nivelseguridad">bajo</span>
                                        <div class="nivelesColores">
                                            <div class="spanNivelesColores"></div>
                                        </div>
                                    </small>
                                    <div class="NivelesColores"></div>
                                </div>
                            </div> 
                            <div class="form-group editar-usuario-sres">
                                <label class="estilo-01" for="txt-re-pswd">Confirmar contraseña</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div>
                                    <input class="form-control estilo-01 sin-espacio" type="password" name="txt-re-pswd" id="txt-re-pswd" maxlength="20" readonly placeholder="Confirmar su contraseña" required>
                                    <div class="input-group-append">
                                        <label class="input-group-text cursor-pointer ver-clave"><i class="fas fa-eye mr-1"></i>Mostrar</label>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label for="mlt-gei">Importación MRV<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-shield-alt"></i></span></div>
                                    <div class="form-control" style="height:90px; overflow-y: auto;">
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-radio mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="rad-mrv" id="rad-03">
                                                <label class="custom-control-label badge badge-actor-aprobado" for="rad-03"><i class="fas fa-check-circle mr-1"></i>Si</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-radio mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="rad-mrv" id="rad-04">
                                                <label class="custom-control-label badge badge-actor-desaprobado" for="rad-04"><i class="fas fa-times-circle mr-1"></i>No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="alert-add"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-sm btn-info" type="button" id="btnGuardar">Si, grabar</button>
                    <button class="btn btn-sm btn-dark" type="button" id="btnCerrar" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Hidden("columna", "ID_USUARIO")
@Html.Hidden("orden", "ASC")

@*<div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12 px-0">
                <input type="text" class="form-control" id="textoBusqueda" name="textoBusqueda" />
                <button id="btnConsultar">CONSULTAR</button>
                <button id="btnNuevo">NUEVO</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0">
                <div class="table-responsive tabla-principal">
                    <table id="tblUsuario" class="table table-hover">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th class="text-center" scope="col"><span class="miColumna">N°&nbsp;<i class="fas fa-sort" id="ID_USUARIO"></i></span></th>
                                <th scope="col"><span class="miColumna">Nombres&nbsp;<i class="fas fa-sort-up" id="NOMBRES"></i></span></th>
                                <th scope="col"><span class="miColumna">Apellidos&nbsp;<i class="fas fa-sort-up" id="APELLIDOS"></i></span></th>
                                <th scope="col"><span class="miColumna">Correo&nbsp;<i class="fas fa-sort-up" id="CORREO"></i></span></th>
                                <th scope="col"><span class="miColumna">Teléfono&nbsp;<i class="fas fa-sort-up" id="TELEFONO"></i></span></th>
                                <th scope="col"><span class="miColumna">Anexo&nbsp;<i class="fas fa-sort-up" id="ANEXO"></i></span></th>
                                <th scope="col"><span class="miColumna">Celular&nbsp;<i class="fas fa-sort-up" id="CELULAR"></i></span></th>
                                <th scope="col"><span class="miColumna">RUC&nbsp;<i class="fas fa-sort-up" id="RUC_INSTITUCION"></i></span></th>
                                <th scope="col"><span class="miColumna">Institución&nbsp;<i class="fas fa-sort-up" id="RAZON_SOCIAL_INSTITUCION"></i></span></th>
                                <th scope="col"><span class="miColumna">Rol&nbsp;<i class="fas fa-sort-up" id="NOMBRE_ROL"></i></span></th>
                                <th class="text-center" scope="col" width="10%">Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="frmUsuario" autocomplete="off" style="display: none;">
    <div>
        <label>
            Nombres:
            <input type="text" name="txtNombres" id="txtNombres" placeholder="Ingrese nombres" />
        </label>
        <label>
            Apellidos:
            <input type="text" name="txtApellidos" id="txtApellidos" placeholder="Ingrese apellidos" />
        </label>
    </div>
    <div>
        <label>
            Correo:
            <input type="text" name="txtCorreo" id="txtCorreo" placeholder="Ingrese correo" />
        </label>
        <label>
            Teléfono:
            <input type="text" name="txtTelefono" id="txtTelefono" placeholder="Ingrese teléfono" />
        </label>
    </div>
    <div>
        <label>
            Anexo:
            <input type="text" name="txtAnexo" id="txtAnexo" placeholder="Ingrese anexo" />
        </label>
        <label>
            Celular:
            <input type="text" name="txtCelular" id="txtCelular" placeholder="Ingrese celular" />
        </label>
    </div>
    <div>
        <label>
            Ruc Institución:
            <input type="text" name="txtRucInstitucion" id="txtRucInstitucion" placeholder="Ingrese ruc institución" />
        </label>
        <label>
            Razón Social Institución:
            <input type="text" name="txtRazonSocialInstitucion" id="txtRazonSocialInstitucion" placeholder="Ingrese razón social institución" readonly />
        </label>
    </div>
    <div>
        <label>
            Rol:
            <select name="selIdRol" id="selIdRol"></select>
        </label>
    </div>
    <div>
        <label>
            Contraseña:
            <input type="password" name="txtContraseña" id="txtContraseña" placeholder="Ingrese contraseña" />
        </label>
    </div>
    <div>
        <button type="button" id="btnGuardar">GUARDAR</button>
        <button type="button" id="btnCerrar">CERRAR</button>
    </div>
</form>*@