@{
    ViewBag.Titulo = "Mantenimiento Usuario";
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/mantenimiento_usuario.js")"></script>
}

<div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12 px-0">
                <input type="text" class="form-control" id="textoBusqueda" name="textoBusqueda" />
                <button id="btnConsultar">CONSULTAR</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0">
                <div class="table-responsive tabla-principal">
                    <table id="tblUsuario" class="table table-hover">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th class="text-center" scope="col" width="5%"><span class="miColumna">N°&nbsp;<i class="fas fa-sort" id="ID_USUARIO"></i></span></th>
                                <th scope="col" width="85%"><span class="miColumna">Nombres&nbsp;<i class="fas fa-sort-up" id="NOMBRES"></i></span></th>
                                <th scope="col" width="85%"><span class="miColumna">Apellidos&nbsp;<i class="fas fa-sort-up" id="APELLIDOS"></i></span></th>
                                <th scope="col" width="85%"><span class="miColumna">Correo&nbsp;<i class="fas fa-sort-up" id="CORREO"></i></span></th>
                                <th scope="col" width="85%"><span class="miColumna">Teléfono&nbsp;<i class="fas fa-sort-up" id="TELEFONO"></i></span></th>
                                <th scope="col" width="85%"><span class="miColumna">Anexo&nbsp;<i class="fas fa-sort-up" id="ANEXO"></i></span></th>
                                <th scope="col" width="85%"><span class="miColumna">Celular&nbsp;<i class="fas fa-sort-up" id="CELULAR"></i></span></th>
                                <th class="text-center" scope="col" width="10%">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @*@if (Model.lista != null)
                                {

                                    foreach (var item in Model.lista)
                                    {
                                        i++;
                                        <tr>
                                            <th class="text-center" data-encabezado="Número" scope="row">@item.ID_CRITERIO</th>
                                            <td data-encabezado="Descripcion">@item.NOMBRE</td>
                                            <td class="text-center text-xs-right" data-encabezado="Acciones">
                                                <div class="btn-group">
                                                    <div class="acciones fase-01 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#" onclick="fn_cargarDatosMantenimiento(@item.ID_CRITERIO);" data-toggle="modal" data-target="#modal-edicion">
                                                            <i class="fas fa-edit"></i>&nbsp;
                                                            Editar
                                                        </a><a class="dropdown-item" href="#" onclick="fn_Seleccionaregistro(@item.ID_CRITERIO)" data-toggle="modal" data-target="#modal-confirmacion">
                                                            <i class="fas fa-trash"></i>&nbsp;
                                                            Eliminar
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        total_reg = @item.TOTAL_REGISTROS;
                                        total_pag = @item.TOTAL_PAGINAS;
                                    }
                                }*@
                        </tbody>
                    </table>
                    @*@{
                            if (total_reg == 0)
                            {
                                inicio_reg = 0;
                                fin_reg = 0;
                            }
                            else if (total_reg <= 10)
                            {
                                inicio_reg = 1;
                                fin_reg = total_reg;
                            }
                            else if (total_reg > 10)
                            {
                                inicio_reg = 1;
                                fin_reg = 10;
                            }
                        }*@
                </div>
            </div>
        </div>

    </div>
</div>