@using sres.be
@{
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}

<footer class="container-fluid set-bg" data-setbg="@Url.Content("~/Assets/images/bg_footer.png")">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-3@(usuario != null ? " offset-lg-3" : "") col-md-6 col-sm-12"><a class="bg-youtube p-4 estilo-02 text-white d-flex justify-content-center align-items-center botones-pie wow bounceInUp" id="btn-youtube" href="https://www.youtube.com/user/videosminem" target="_blank" data-wow-delay=".2s"><i class="fab fa-youtube fa-2x mr-2"></i>YouTube</a></div>
            <div class="col-lg-3 col-md-6 col-sm-12"><a class="bg-facebook p-4 estilo-02 text-white d-flex justify-content-center align-items-center botones-pie wow bounceInUp" id="btn-facebook" href="https://www.facebook.com/MinemPeru/" target="_blank" data-wow-delay=".3s"><i class="fab fa-facebook-square fa-2x mr-2"></i>facebook</a></div>*@
            @if (usuario == null)
            {
                <div class="offset-lg-3 col-lg-3 col-md-6 col-sm-12"><a class="bg-sres-mix-claro p-4 estilo-02 text-white d-flex justify-content-center align-items-center botones-pie wow bounceInUp" id="btn-register" href="@Url.Action("Registrarme", "Login")" data-wow-delay=".5s"><i class="fas fa-pencil-alt fa-2x mr-2"></i>REGISTRARSE</a></div>
                <div class="col-lg-3 col-md-6 col-sm-12"><a class="bg-sres-mix-oscuro p-4 estilo-02 text-white d-flex justify-content-center align-items-center botones-pie wow bounceInUp" id="btn-login" href="@Url.Action("Index", "Login")" data-wow-delay=".4s"><i class="fas fa-sign-in-alt fa-2x mr-2"></i>INICIAR SESIÓN</a></div>
                @*<div class="col-lg-3 col-md-6 col-sm-12"><a class="bg-sres-azul p-4 estilo-02 text-white d-flex justify-content-center align-items-center botones-pie wow bounceInUp" id="btn-login" href="@Url.Action("Index", "Login")" data-wow-delay=".4s"><i class="fas fa-sign-in-alt fa-2x mr-2"></i>INICIAR SESIÓN</a></div>
                <div class="col-lg-3 col-md-6 col-sm-12"><a class="bg-sres-verde p-4 estilo-02 text-white d-flex justify-content-center align-items-center botones-pie wow bounceInUp" id="btn-register" href="@Url.Action("Registrarme", "Login")" data-wow-delay=".5s"><i class="fas fa-pencil-alt fa-2x mr-2"></i>REGISTRARSE</a></div>*@
            }
        </div>
        <div class="row my-5">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <b class="d-block pb-2 estilo-02 text-white wow slideInLeft">Contáctenos</b>
                <ul class="list-unstyled wow slideInLeft">
                    <li><a class="text-white estilo-01" href="tel: +5114111100"><i class="fas fa-phone-alt mr-2"></i>Teléfono: (+511) 411-1100</a></li>
                    <li><a class="text-white estilo-01" href="mailto:webmaster@minem.gob.pe?Subject=Contacto%20desde%20la%20web%20de%20MRV%20Plataforma%20del%20Sector%20Energético"><i class="far fa-envelope mr-2"></i>webmaster@minem.gob.pe</a></li>
                    <li><a class="text-white estilo-01" href="https://www.google.com/maps/d/u/0/viewer?msa=0&amp;hl=en&amp;ie=UTF8&amp;ll=-12.097192999999981%2C-77.00643500000001&amp;spn=0%2C0&amp;t=m&amp;source=embed&amp;mid=1oiTLqK_OscJsqGYEQbVNHyO68Dw&amp;z=17" target="_blank"><i class="fas fa-map-marker-alt mr-2"></i>Av. De Las Artes Sur 260. San Borja. Lima. Perú</a></li>
                </ul><b class="d-block pb-2 estilo-02 text-white wow slideInLeft">Más información</b>
                <ul class="list-unstyled wow slideInLeft">
                    <li><a class="text-white estilo-01" href="./documentos/Manual_Usuario_MRV.pdf" download><i class="fas fa-file-pdf mr-2"></i>Manual de Usuario</a></li>
                    <li><a class="text-white estilo-01" href="@Url.Action("Preguntas-frecuentes", "Participantes")"><i class="fas fa-question-circle mr-2"></i>Preguntas frecuentes</a></li>
                    <li><a class="text-white estilo-01" href="@Url.Action("Terminos-y-condiciones", "Participantes")"><i class="fab fa-readme mr-2"></i>Términos y Condiciones de Uso</a></li>
                    <li><a class="text-white estilo-01" href="@Url.Action("Mapa-del-sitio", "Participantes")" target="_blank"><i class="fas fa-sitemap mr-2"></i>Mapa del Sitio</a></li>
                </ul><b class="d-block pb-2 estilo-02 text-white wow slideInLeft">Enlaces</b>
                <ul class="list-unstyled wow slideInLeft">
                    <li><a class="text-white estilo-01" href="http://eficienciaenergetica.minem.gob.pe/" target="_blank"><i class="fas fa-landmark mr-2"></i>Sistema Interactivo de Eficiencia Energética</a></li>
                    <li><a class="text-white estilo-01" href="http://www.minem.gob.pe/_detalle.php?idSector=12&amp;idTitular=3011&amp;idMenu=sub3001&amp;idCateg=716" target="_blank"><i class="fas fa-landmark mr-2"></i>Dirección General de Eficiencia Energética</a></li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 d-flex flex-column justify-content-between">
                <div class="row">
                    <div class="col-12 d-flex flex-column flex-lg-row justify-content-end align-items-center"><a class="my-5 mr-5 my-lg-0 wow slideInRight" href="https://www.gob.pe/minem" target="_blank" data-wow-delay=".2s"><img src="@Url.Content("~/Assets/images/logo-minem-blanco.png")" height="65"></a><a class="my-5 mr-5 my-lg-0 wow slideInRight" href="https://www.thegef.org/" target="_blank" data-wow-delay=".3s"><img src="@Url.Content("~/Assets/images/logo-gef-blanco.png")" height="85"></a><a class="my-5 mr-0 my-lg-0 wow slideInRight" href="https://www.pe.undp.org/" target="_blank" data-wow-delay=".4s"><img src="@Url.Content("~/Assets/images/logo-pnud-blanco.png")" height="95"></a></div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center justify-content-lg-end align-items-center"><a class="my-5 my-lg-0 wow slideInRight" href="http://namasenergia.minem.gob.pe/" target="_blank"><img src="@Url.Content("~/Assets/images/logo-nama-blanco.png")" height="70"></a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center text-lg-right text-white mb-5">
                <hr class="bg-white wow slideInUp"><small class="wow slideInUp">&copy; Ministerio de Energía y Minas | Todos los derechos reservados</small>
            </div>
        </div>
    </div>
</footer>