@using sres.be

@{ 
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Titulo</title>
    @RenderSection("link_header", false)
    <link rel="stylesheet" src="@Url.Content("~/Assets/styles/style.css")" />
    <script src="@Url.Content("~/Assets/js/plugins/script.js")"></script>
    @RenderSection("scripts_header", false)
</head>
<body>
    <div> 
        @RenderBody()
    </div>
    @RenderSection("scripts_footer", false)
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~")';
        var idUsuarioLogin = @(usuario == null ? "null" : usuario.ID_USUARIO.ToString());
    </script>
</body>
</html>
