@using sres.app.Models
@using sres.be
@{
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}
<div class="container-fluid menu d-print-none">
    <div class="container">
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar p-0">
            <a class="navbar-brand mr-md-auto animated fadeIn mx-0" href="@Url.Action("Index", "Inicio")"><img src="@Url.Content("~/Assets/images/sres-logo.png")" height="51"></a>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item align-self-center pl-0"><a class="nav-link p-0 mr-2 animated slideInDown" href="https://www.gob.pe/minem" target="_blank"><img src="@Url.Content("~/Assets/images/logo-minem.jpg")" height="40"></a></li>
                <li class="nav-item align-self-center"><a class="nav-link p-0 mr-2 animated slideInDown" href="https://www.thegef.org/" target="_blank"><img src="@Url.Content("~/Assets/images/logo_gef.svg")" height="45"></a></li>
                <li class="nav-item align-self-center pr-0"><a class="nav-link p-0 animated slideInDown" href="https://www.pe.undp.org/" target="_blank"><img src="@Url.Content("~/Assets/images/logo_pnud.svg")" height="51"></a></li>
            </ul>
        </header>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav btn mr-auto p-0">
                    <li class="nav-item btn barra barra-inicio"><a class="nav-link wow slideInUp" href="@Url.Action("Index", "Inicio")" data-wow-delay=".2s"><i class="fas fa-house-damage fa-lg mr-1 mr-lg-0"></i><span class="d-lg-none">INICIO</span></a></li>
                    <li class="nav-item btn barra barra-participante"><a class="nav-link wow slideInUp" href="@Url.Action("Index", "Participantes")" data-wow-delay=".4s"><i class="fas fa-users fa-lg mr-1"></i>PARTICIPANTES</a></li>
                    @*<li class="nav-item btn"><a class="nav-link wow slideInUp" href="@Url.Action("Index", "Convocatoria")" data-wow-delay=".5s"><i class="fas fa-bullhorn fa-lg mr-1"></i>CONVOCATORIA</a></li>*@
                    <li class="nav-item btn barra barra-convocatoria"><a class="nav-link wow slideInUp" href="@Url.Action("Informacion", "Convocatoria")" data-wow-delay=".5s"><i class="fas fa-bullhorn fa-lg mr-1"></i>CONVOCATORIA</a></li>
                    <li class="nav-item btn barra barra-categoria"><a class="nav-link wow slideInUp" href="@Url.Action("Categoria", "Participantes")" data-wow-delay=".6s"><i class="fas fa-network-wired fa-lg mr-1"></i>CATEGORÍAS</a></li>
                    <li class="nav-item btn barra barra-reconocimiento"><a class="nav-link wow slideInUp" href="@Url.Action("Reconocimientos-y-Criterio", "Participantes")" data-wow-delay=".7s"><i class="fas fa-trophy fa-lg mr-1"></i>PREMIACIÓN ESPECIAL</a></li>
                    @*<li class="nav-item btn barra barra-pregunta"><a class="nav-link wow slideInUp" href="@Url.Action("Preguntas-frecuentes", "Participantes")" data-wow-delay=".7s"><i class="fas fa-question-circle fa-lg mr-1"></i>PREGUNTAS FRECUENTES</a></li>*@
                    @if (usuario != null)
                    {
                        <li class="nav-item btn barra barra-bandeja activo"><a class="nav-link wow slideInUp nav-active" href="@Url.Action("Index", "Convocatoria")" data-wow-delay=".5s"><i class="fas fa-inbox fa-lg mr-1"></i>BANDEJA</a></li>
                    }
                </ul>
                @if (usuario == null)
                {
                    <a class="btn btn-sm border-0 rounded-0 btn-sres-mix-claro mr-3 animated slideInRight" href="@Url.Action("Registrarme", "Login")" role="button"><i class="fas fa-pencil-alt mr-2"></i>REGISTRARSE</a>
                    <a class="btn btn-sm border-0 rounded-0 btn-sres-mix-oscuro animated slideInRight" href="@Url.Action("Index", "Login")" role="button"><i class="fas fa-sign-in-alt mr-2"></i>INICIAR SESIÓN</a>
                }
                else
                {
                    <div class="btn-group">
                        <a class="btn btn-sm btn-sres-mix animated slideInRight dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-user pr-1"></i>@usuario.NOMBRES.Split(' ')[0] @usuario.APELLIDOS.Split(' ')[0] &nbsp;@((usuario.ROL != null) ? Html.Raw($"<small class='badge badge-primary estilo-06'>{@usuario.ROL.NOMBRE}</small>") : Html.Raw(""))</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            @*<a class="dropdown-item estilo-01" href="#"><i class="fas fa-id-card mr-1"></i>Mi Perfil</a>*@
                            @if (usuario.ID_ROL != (int)EnumsCustom.Roles.POSTULANTE && usuario.ID_ROL != (int)EnumsCustom.Roles.EVALUADOR) {
                                <a class="dropdown-item estilo-01" href="@Url.Action("TablaMantenimiento", "Mantenimiento")"><i class="fas fa-cogs mr-1"></i>Mantenimiento de tablas</a>
                                <a class="dropdown-item estilo-01" href="@Url.Action("Index","Reporte")"><i class="fas fa-clipboard mr-1"></i>Reportes</a>
                            }
                            <a class="dropdown-item estilo-01" href="@Url.Action("Cambiar-contrasena", "Convocatoria")"><i class="fas fa-key mr-1"></i>Cambiar contraseña</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item estilo-01" href="@Url.Action("Salir", "Login")"><i class="fas fa-sign-out-alt mr-1"></i>Salir del sistema</a>
                        </div>
                    </div>
                }
                <div class="d-none d-lg-block" id="line"></div>
            </div>
        </nav>
    </div>
    <div class="d-none d-lg-block" id="line-long"></div>
</div>

<div class="flecha-top d-print-none"><i class="fas fa-angle-double-right fa-2x text-white"></i></div>