@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Bandeja de Participantes";
    ViewBag.SRESDescription = false;
    ConvocatoriaBE convocatoria = ViewData["convocatoria"] == null ? null : (ConvocatoriaBE)ViewData["convocatoria"];
    ViewBag.IrBandejaParticipantes = false;
    ViewBag.IrBandejaConvocatorias = true;
    ViewBag.Full = false;
    ViewBag.HasOptions = true;
    @Html.HiddenFor(x => convocatoria.ID_ETAPA);
    string pathFormat = AppSettings.Get<string>("Path.Reconocimiento");
}
@section scripts_footer{
    <script>
        const idConvocatoria = @(convocatoria == null ? "null" : convocatoria.ID_CONVOCATORIA.ToString());
        const idEtapa = @(convocatoria == null ? "null" : convocatoria.ID_ETAPA.ToString());
    </script>
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/convocatoria_bandejaparticipantes.js")"></script>
}

@Html.Partial("_ConvocatoriaActual")
<div class="container-fluid" id="sectionSearch">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="estilo-01" for="txt-codigo">CÓDIGO</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="text" id="txt-codigo" placeholder="#######">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro" for="txt-empresa">EMPRESA PARTICIPANTE</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="text" id="txt-empresa" placeholder="Ingrese la descripción de la empresa">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro" for="txt-responsable">RESPONSABLE</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="text" id="txt-responsable" placeholder="Ingrese nombre del responsable">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro">&nbsp;</label>
                    <div class="input-group">
                        <button id="btnConsultar" class="btn btn-primary w-100">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive tabla-principal">
                    <table id="tblBandejaParticipantes" class="table table-sm table-hover">
                        <thead class="estilo-06">
                            <tr>
                                @*<th scope="col" width="3%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Número de expediente"></i>N°&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="8%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Número de expediente"></i>CÓDIGO&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="25%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Nombre o descripción de la convocatoria"></i>EMPRESA PARTICIPANTE&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="21%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Fecha de inicialización de la convocatoria"></i>RESPONSABLE&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Fecha de finalización de la convocatoria"></i>CRITERIOS&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Progreso del vencimiento"></i>PUNTUACIÓN&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="13%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Estado de la convocatoria"></i>ASPIRACIONES&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Herramientas y opciones"></i>GESTIÓN&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>*@
                                <th scope="col" width="3%">
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <div class="d-flex justify-content-between align-items-center w-100">N°&nbsp;<i class="fas fa-sort"></i></div>
                                        <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Número de orden"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="8%">
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div class="pl-1 text-center w-100">CÓDIGO&nbsp;</div><i class="fas fa-sort"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Código de inscripción"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="25%">
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div class="pl-1 text-center w-100">EMPRESA PARTICIPANTE&nbsp;</div><i class="fas fa-sort"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Entidad participante de la convocatoria vigente"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="21%">
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div class="pl-1 text-center w-100">RESPONSABLE&nbsp;</div><i class="fas fa-sort"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Persona responsable de la información ingresada"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div class="pl-1 text-center w-100">CRITERIOS&nbsp;</div><i class="fas fa-sort"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Cantidad de criterios"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div class="pl-1 text-center w-100">PUNTUACIÓN&nbsp;</div><i class="fas fa-sort"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Puntaje actual"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="13%">
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div class="pl-1 text-center w-100">ASPIRACIONES&nbsp;</div><i class="fas fa-sort"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Posible premio a obtener"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div class="pl-1 text-center w-100">GESTIÓN&nbsp;</div><i class="fas fa-sort"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Herramientas y opciones"></i></div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="estilo-01"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 mt-4 estilo-01 d-flex justify-content-start align-items-center">
                <div class="row">
                    <div class="col-12"><strong>Resultado:&nbsp;</strong><span class="inicio-registros">1</span><span id="view-page-result">-<span class="fin-registros">1</span> de <span class="total-registros">1</span> registros</span></div>
                </div>
            </div>
            <div id="viewPagination" class="col-sm-12 col-lg-6 mt-4 estilo-01 d-flex justify-content-end align-items-center">
                <div class="row">
                    <div class="col-12">
                        <strong>Registros por página&nbsp;</strong>
                        <select id="catidad-rgistros">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;
                        <span class="pagina">1</span> de <span class="total-paginas">75</span> páginas&nbsp;
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button class="btn btn-sm btn-primary" type="button" id="btnFirstPagination"><i class="fas fa-angle-double-left"></i></button>
                            <button class="btn btn-sm btn-primary" type="button" id="btnPreviousPagination"><i class="fas fa-angle-left"></i></button>
                            <input id="ir-pagina" class="ir-pagina" type="number" value="1" min="1">
                            <button class="btn btn-sm btn-primary" type="button" id="btnNextPagination"><i class="fas fa-angle-right"></i></button>
                            <button class="btn btn-sm btn-primary" type="button" id="btnLastPagination"><i class="fas fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="ruta" value="@pathFormat" />