@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Criterios";
    ViewBag.SRESDescription = false;
    ConvocatoriaBE convocatoria = (ConvocatoriaBE)ViewData["convocatoria"];
    InscripcionBE inscripcion = (InscripcionBE)ViewData["inscripcion"];
    List<CriterioBE> listaCriterio = (List<CriterioBE>)ViewData["listaCriterio"];
    decimal total_criterio = listaCriterio.Count();
    decimal ingresados = 0;
    foreach (var cri in listaCriterio) { if (cri.INGRESO_DATOS > 0) { ingresados++; } }
    decimal porcentaje_avance = Decimal.Round(ingresados * 100 / total_criterio);
    string pathFormat = AppSettings.Get<string>("Path.Criterio");
}


<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="estilo-05" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Inicio")">Inicio</a></li>
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Convocatoria")">Bandeja</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Criterios</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-sres-claro p-3">
                    <div class="row">
                        <div class="col-lg-1 col-md-12 text-left text-lg-center">
                            <div class="estilo-07 estilo-02-force text-sres-oscuro d-inline-block d-lg-block">@convocatoria.FECHA_INICIO.ToString("dd")</div>
                            <div class="estilo-03 estilo-02-force text-sres-oscuro d-inline-block d-lg-block">@convocatoria.FECHA_INICIO.ToString("MMM").Replace(".", "").ToUpper()</div>
                            <div class="estilo-02 estilo-02-force text-sres-claro d-inline-block d-lg-block">@convocatoria.FECHA_INICIO.ToString("yyyy")</div>
                        </div>
                        <div class="col-lg-11 col-md-12 barra-oscura">
                            <h2 class="estilo-03 text-sres-oscuro text-limit-1">@convocatoria.NOMBRE</h2>
                            <p class="estilo-01 text-justify text-sres-gris m-0 text-limit-3" data-limit="1">@convocatoria.DESCRIPCION</p>
                            @if (convocatoria.DESCRIPCION.Length > 407)
                            { <div class="text-right d-none d-lg-block"><a class="estilo-01 text-sres-verde leer-mas" href="#">Leer más</a></div> }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-3">
    <div class="container">
        <div class="rayado wow fadeIn"></div>
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="estilo-02 text-justify text-sres-azul m-0">Ingrese y complete todos los criterios de evaluación</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="progress" style="height: 25px;">
                    <div class="progress-bar estilo-01 bg-degradado" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: @porcentaje_avance%">Criterios registrados @ingresados/@total_criterio</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            @if (listaCriterio != null)
            {
                if (listaCriterio.Count > 0)
                {
                    int index = 0;
                    string bg = "";
                    string linea = "";
                    string icono = "";
                    string pathDirectoryRelative = "";
                    foreach (CriterioBE item in listaCriterio)
                    {
                        index++;
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            @{bg = item.INGRESO_DATOS == 0 ? "bg-sres-claro" : "bg-sres-verde-claro";
                                linea = item.INGRESO_DATOS == 0 ? "border-linea" : "border-linea-verde";
                                icono = item.INGRESO_DATOS == 0 ? "" : "<i class='fas fa-copy text-sres-verde indicador'></i>";
                                pathDirectoryRelative = string.Format(pathFormat, item.ID_CRITERIO);
                                }
                                
                            @Html.Raw(icono)  
                            <a class="d-block @bg @linea rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">
                                <img class="img-fluid" src="@Url.Content($"~/{pathDirectoryRelative}/{item.ARCHIVO_BASE}")">
                                <div class="estilo-01 text-sres-azul pt-3">@item.NOMBRE</div>
                            </a>
                        </div>
                    }
                }
            }
        </div>
        <div class="row">
            <div class="col-12">
                <div class="rayado my-5 wow fadeIn"></div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-6 col-lg-3 col-md-12 col-sm-12 my-3"><a class="btn btn-secondary text-white w-100 mb-3" href="@Url.Action("Index","Convocatoria")">Regresar</a></div>
            <div class="col-lg-3 col-md-12 col-sm-12 my-3"><a class="btn btn-primary text-white w-100 mb-3" href="@Url.Action("Index","Convocatoria")">Finalizar</a></div>
        </div>
    </div>
</div>




@*<h2>Criterios</h2>

    @if (listaCriterio != null)
    {
        if (listaCriterio.Count > 0)
        {
            foreach (CriterioBE item in listaCriterio)
            {
                <ul>
                    <li>
                    @item.NOMBRE <a href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">Ingresar Criterio</a>
                    </li>
                </ul>
            }
        }
        else
        {
            <div>No existen criterios</div>
        }
    }
    else
    {
        <div>No existen criterios</div>
    }*@