@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Criterios";
    ViewBag.SRESDescription = false;
    ConvocatoriaBE convocatoria = (ConvocatoriaBE)ViewData["convocatoria"];
    InscripcionBE inscripcion = (InscripcionBE)ViewData["inscripcion"];
    List<CriterioBE> listaCriterio = (List<CriterioBE>)ViewData["listaCriterio"];
    ConvocatoriaEtapaInscripcionBE convetainsc = (ConvocatoriaEtapaInscripcionBE)ViewData["convetainsc"];
    MigrarEmisionesBE migrar = (MigrarEmisionesBE)ViewData["migrar"];
    PuntajeBE puntaje_conv = (PuntajeBE)ViewData["puntaje"];
    decimal total_criterio = listaCriterio.Count();
    decimal ingresados = 0, emisiones = 0, energia = 0, combustible = 0;
    int puntaje = 0, flag_categoria = 0;
    foreach (var cri in listaCriterio) { if (cri.INGRESO_DATOS > 0) { ingresados++; } puntaje += cri.PUNTAJE; emisiones += cri.EMISIONES; energia += cri.ENERGIA; combustible += cri.COMBUSTIBLE; }
    foreach (var cri in listaCriterio) { if (cri.ID_CATEGORIA == 1) { if (cri.INGRESO_DATOS > 0) { flag_categoria = 1; } } }
    decimal porcentaje_avance = Decimal.Round(ingresados * 100 / total_criterio);
    string pathFormat = AppSettings.Get<string>("Path.Criterio");
    string criteriosdescripcion = AppSettings.Get<string>("Criterios.Descripcion");
    string pathFormat_mt = AppSettings.Get<string>("Path.MedidaMitigacion");
    string pathFormat_reg_mrv = AppSettings.Get<string>("Registro.MRV");
    string pathFormat_ini_mrv = AppSettings.Get<string>("Inicio.MRV");
    decimal puntaje_posible = puntaje_conv == null ? 0 : puntaje_conv.PUNTAJE > 100 ? 100 : puntaje_conv.PUNTAJE;
    string linea_categoria = flag_categoria == 0 ? "border-linea" : "border-linea-verde";
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/convocatoria_criterioS.js")"></script>
}

<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="estilo-05" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Inicio")">Inicio</a></li>
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Convocatoria")">Bandeja</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Criterios</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-sres-claro p-3">
                    <div class="row">
                        <div class="col-lg-1 col-md-12 text-left text-lg-center">
                            <div class="estilo-07 estilo-02-force text-sres-oscuro d-inline-block d-lg-block">@convocatoria.FECHA_INICIO.ToString("dd")</div>
                            <div class="estilo-03 estilo-02-force text-sres-oscuro d-inline-block d-lg-block">@convocatoria.FECHA_INICIO.ToString("MMM").Replace(".", "").ToUpper()</div>
                            <div class="estilo-02 estilo-02-force text-sres-claro d-inline-block d-lg-block">@convocatoria.FECHA_INICIO.ToString("yyyy")</div>
                        </div>
                        <div class="col-lg-11 col-md-12 barra-oscura">
                            <h2 class="estilo-03 text-sres-oscuro text-limit-1">@convocatoria.NOMBRE</h2>
                            <p class="estilo-01 text-justify text-sres-gris m-0 text-limit-3" data-limit="1">@convocatoria.DESCRIPCION</p>
                            @if (convocatoria.DESCRIPCION.Length > 407)
                            { <div class="text-right d-none d-lg-block"><a class="estilo-01 text-sres-verde leer-mas" href="#">Leer más</a></div> }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (convetainsc != null)
{
    if (convetainsc.REALIZADO == "1")
    {
        <div class="container-fluid mt-5">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-1 col-12">
                        <h1>¡LOS CRITERIOS SE ENVIARON A REVISIÓN!</h1>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="rayado my-5 wow fadeIn"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-lg-9 col-lg-3 col-md-12 col-sm-12 my-3"><a class="btn btn-secondary text-white w-100 mb-3" href="@Url.Action("Index","Convocatoria")">Regresar</a></div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid mb-3">
        <div class="container">
            <div class="rayado wow fadeIn"></div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="estilo-02 text-justify text-sres-azul m-0">Ingrese y complete todos los criterios de evaluación</p>
                    <p class="estilo-01 text-justify text-sres-gris m-0">@criteriosdescripcion</p>
                </div>
            </div>
        </div>
    </div>
    if (convocatoria.ID_ETAPA == 6)
    {
        <div class="container mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="dropdown-divider my-3 wow fadeIn"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 my-3 text-justify">
                    <p class="estilo-02 text-justify text-sres-azul m-0">Plataforma MRV del Sector Energía</p>
                    <p class="estilo-01 text-justify text-sres-gris m-0">La Medición, Reporte y Verificación (MRV) están siempre presente en las Acciones Nacionales Apropiadas de Mitigación en las NAMAs. Dentro del sector energía en el Perú, La Plataforma MRV del sector energía facilita la ejecución del sistema MRV a través de su operación y funcionalidad.</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 my-3 text-center">
                    <a class="btn btn-warning btn-lg w-100" href="javascript:void(0)" id="migrar-emisiones" data-toggle="modal" data-target="#modal-valores"><i class="fas fa-file-import mr-1"></i>Importar Emisiones Reducidas de tCO<sub>2</sub> <br> desde la Plataforma MRV del Sector Energía</a>
                    <a class="estilo-01 text-sres-verde cursor-pointer d-block mt-3" href="@pathFormat_ini_mrv" target="_blank">Ver Plataforma MRV del Sector Energía</a>
                </div>
                <div class="col-12">
                    <div class="dropdown-divider my-3 wow fadeIn"></div>
                </div>
            </div>
        </div>
    }
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3"><b class="estilo-02 text-sres-azul">Progreso de postulación:</b></div>
            </div>
            <div class="row">
                <div class="col-12" data-toggle="tooltip" data-placement="top" title="@ingresados de @total_criterio criterios registrados">
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar estilo-01 bg-degradado text-limit-1" role="progressbar" aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100" style="width: @porcentaje_avance%">@ingresados de @total_criterio Criterios registrados</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-5">
        <div class="container">
            <div class="row mb-5">
                <h2 class="p-2 my-4 estilo-04 text-center text-sres-azul w-100" style="z-index: 1;">CRITERIOS PARA ALCANZAR CATEGORÍAS DEl RECONOCIMIENTO DE ENERGÍA eficiente y sostenible</h2>
            </div>
            <div class="container">
                <div class="row mb-5">
                    <div class="offset-lg-2 col-lg-3 offset-md-3 col-md-3 offset-sm-3 col-sm-6 text-center my-2 d-flex">
                        <i class="fas fa-2x fa-check-circle text-sres-verde indicador"></i>
                        <img class="criterios-evaluacion img-fluid w-100 shadow @linea_categoria" src="@Url.Content("~/Assets/images/criterio-01.png")" data-anidado="3">
                        <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que ha medido su ahorro energético (mínimo 1 año) después de la implementación de mejora de eficiencia energética. Este porcentaje de ahorro es el consumo reducido por la medida implementada respecto al consumo total de energía eléctrica de la organización. Este reconocimiento brinda puntaje para alcanzar la categoría deseada y a su vez brinda puntaje para la obtención de estrellas que permite reconocer como han logrado reducir sus emisiones de Gases de Efecto Invernadero (GEI) en beneficio del ambiente.</p>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <a class="estilo-02 text-sres-azul mt-3 text-left" href="#" data-toggle="modal" data-target="#modal-criterios-anidado">Reducción de Consumo Energético</a>
                        <div class="dropdown-divider"></div>
                        <div class="estilo-10 text-sres-verde text-left">Equivale al 60% del puntaje total</div>
                        <div class="estilo-01 text-sres-gris mt-1 text-justify mt-3">Es el principal criterio para la obtención del Reconocimiento del Energía Eficiente y Sostenible. Bajo él, se consideran todas las acciones que resultan en ahorro de energía eléctrica y ahorro de energía térmica, sumando para el puntaje de valoración</div>
                        <!--.estilo-01.text-white.mt-1.text-justify.mt-2 Estimado postulante el 50% del puntaje para adquirir categoría del Reconocimiento se logrará con las acciones de ahorro de energía.-->
                        <div class="estilo-01 mt-1 text-justify mt-2">Este criterio equivale al 60% del puntaje potencial total para adquirir la categoría de reconocimiento con las acciones de reducción de ahorro energético.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <h2 class="p-2 mt-4 estilo-04 text-sres-azul text-center w-100" style="z-index: 1;">OTRAS ACCIONES DE GESTIÓN EFICIENTE Y SOSTENIBLE DE LA ENERGÍA QUE APORTAN A LA VALORACIÓN DE LA POSTULACIÓN</h2>
                <div class="estilo-01 text-center w-100" style="z-index: 1;">El otro 40% del puntaje potencial se puede obtener a través de los siguientes 4 criterios.</div>
            </div>
            <div class="container">
                <div class="row mb-5">

                    @if (listaCriterio != null)
                    {
                        if (listaCriterio.Count > 0)
                        {
                            string bg = "";
                            string linea = "";
                            string icono = "";
                            string pathDirectoryRelative = "";
                            foreach (CriterioBE item in listaCriterio)
                            {
                                if (item.ID_CATEGORIA == 2)
                                {
                                    {
                                        bg = item.INGRESO_DATOS == 0 ? "bg-sres-claro" : "bg-sres-verde-claro";
                                        linea = item.INGRESO_DATOS == 0 ? "border-linea" : "border-linea-verde";
                                        icono = item.INGRESO_DATOS == 0 ? "" : "<i class='fas fa-check-circle text-sres-verde indicador'></i>";
                                        pathDirectoryRelative = string.Format(pathFormat, item.ID_CRITERIO);
                                    }

                                    <div class="col-lg-6 col-md-6 col-sm-12 text-center my-3">
                                        <div class="row">
                                            <div class="col-lg-4 text-center text-lg-right">
                                                <a href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">
                                                    @Html.Raw(icono)
                                                    <img class="criterios-evaluacion img-fluid shadow @linea" src="@Url.Content($"~/{pathDirectoryRelative}/{item.ARCHIVO_BASE}")">
                                                </a>
                                                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que se encuentre en el camino de la optimización del uso de la energía con el fin de buscar el uso racional y eficiente de la energía. A través de la gestión energética se detectan oportunidades de mejora en acpectos relacionados con la calidad y seguridad de los sistemas energéticos, logrando que los usuarios conozcan el sistema, identifiquen los puntos de consumo e implmentar mejoras, alcanzando altos niveles de eficiencia energética, en ese sentido el presente reconocimiento se les dará a las organizaciones que se establezcan una política y unos objetivos energéticos, para alcanzar dichos objetivos. Este reconocimiento solo brinda puntaje para alcanzar la categoría deseada.</p>
                                            </div>
                                            <div class="col-lg-8">
                                                <a href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">
                                                    <div class="estilo-02 text-sres-azul text-left">@item.NOMBRE</div>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <div class="estilo-10 text-sres-verde text-left">@item.DESCRIPCION_VALOR</div>
                                                <div class="estilo-01 text-sres-gris text-justify mt-3">@item.DESCRIPCION_CORTA</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>





            <div class="row">
                <div class="col-12">
                    <div class="dropdown-divider my-5 wow fadeIn"></div><b class="estilo-02 text-sres-azul">Resultados preliminares:</b>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                    <div class="alert alert-info p-0">
                        <div class="badge badge-info badge-sres px-4 py-2"><small class="estilo-02">Total de Ahorro Energético Eléctrico Reducido</small></div>
                        <div class="text-sres-azul">
                            <span class="d-block estilo-09 mt-3">@energia.ToString("N2")</span>
                            <smal class="d-block estilo-01 mb-3 encima">Kilovatio Hora</smal>
                        </div><i class="fas fa-bolt fa-3x mb-3"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                    <div class="alert alert-primary p-0">
                        <div class="badge badge-primary badge-sres px-4 py-2"><small class="estilo-02">Total de Ahorro de Combustible &nbsp; Reducido</small></div>
                        <div class="text-sres-azul">
                            <span class="d-block estilo-09 mt-3">@combustible.ToString("N2")</span>
                            <smal class="d-block estilo-01 mb-3 encima">Tera Joules</smal>
                        </div><i class="fas fa-charging-station fa-3x mb-3"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                    <div class="alert alert-warning p-0">
                        <div class="badge badge-warning badge-sres px-4 py-2"><small class="estilo-02">Total de Emisiones GEI Reducidas de tCO<sub>2</sub></small></div>
                        <div class="text-sres-verd">
                            <span class="d-block estilo-09 mt-3">@emisiones.ToString("N2")</span>
                            <smal class="d-block estilo-01 mb-3 encima">toneladas CO<sub>2</sub></smal>
                        </div><i class="far fa-check-circle fa-3x mb-3"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                    <div class="alert alert-success p-0">
                        <div class="badge badge-success badge-sres px-4 py-2"><small class="estilo-02">Total de Puntaje Preliminar, Pendiente de Aprobación</small></div>
                        <div class="text-sres-azul">
                            <span class="d-block estilo-09 mt-3">@puntaje</span>
                            <smal class="d-block estilo-01 mb-3 encima">de @puntaje_posible puntos potenciales</smal>
                        </div><i class="fas fa-chart-line fa-3x mb-3"></i>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-12">
                    <div class="rayado my-5 wow fadeIn"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 my-3"></div>
                <div class="col-lg-3 col-md-12 col-sm-12 my-3"></div>
                <div class="col-lg-3 col-md-12 col-sm-12 my-3"><a class="btn btn-secondary text-white w-100 mb-3" href="@Url.Action("Index","Convocatoria")">Regresar</a></div>
                <div class="col-lg-3 col-md-12 col-sm-12 my-3"><a class="btn btn-primary text-white w-100 mb-3" href="javascript:void(0)" id="btnGuardar">Finalizar</a></div>
            </div>
            <div class="row">
                <div class="col-12 alert-add">
                </div>
            </div>
        </div>
    </div>
    }

}
else
{
    <div class="container-fluid mb-3">
        <div class="container">
            <div class="rayado wow fadeIn"></div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="estilo-02 text-justify text-sres-azul m-0">Ingrese y complete todos los criterios de evaluación</p>
                    <p class="estilo-01 text-justify text-sres-gris m-0">@criteriosdescripcion</p>                    
                </div>
            </div>
        </div>
    </div>
    if (convocatoria.ID_ETAPA == 6)
    {
        <div class="container mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="dropdown-divider my-3 wow fadeIn"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 my-3 text-justify">
                    <p class="estilo-02 text-justify text-sres-azul m-0">Plataforma MRV del Sector Energía</p>
                    <p class="estilo-01 text-justify text-sres-gris m-0">La Medición, Reporte y Verificación (MRV) están siempre presente en las Acciones Nacionales Apropiadas de Mitigación en las NAMAs. Dentro del sector energía en el Perú, La Plataforma MRV del sector energía facilita la ejecución del sistema MRV a través de su operación y funcionalidad.</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 my-3 text-center">
                    <a class="btn btn-warning btn-lg w-100" href="javascript:void(0)" id="migrar-emisiones" data-toggle="modal" data-target="#modal-valores"><i class="fas fa-file-import mr-1"></i>Importar Emisiones Reducidas de tCO<sub>2</sub> <br> desde la Plataforma MRV del Sector Energía</a>
                    <a class="estilo-01 text-sres-verde cursor-pointer d-block mt-3" href="@pathFormat_ini_mrv" target="_blank">Ver Plataforma MRV del Sector Energía</a>
                </div>
                <div class="col-12">
                    <div class="dropdown-divider my-3 wow fadeIn"></div>
                </div>
            </div>
        </div>
    }
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3"><b class="estilo-02 text-sres-azul">Progreso de postulación:</b></div>
            </div>
            <div class="row">
                <div class="col-12" data-toggle="tooltip" data-placement="top" title="@ingresados de @total_criterio criterios registrados">
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar estilo-01 bg-degradado text-limit-1" role="progressbar" aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100" style="width: @porcentaje_avance%">@ingresados de @total_criterio Criterios registrados</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-5">
        <div class="container">
            @*<div class="row">
                @if (listaCriterio != null)
                {
                    if (listaCriterio.Count > 0)
                    {
                        int index = 0;
                        string bg = "";
                        string linea = "";
                        string icono = "";
                        string pathDirectoryRelative = "";
                        foreach (CriterioBE item in listaCriterio)
                        {
                            index++;
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                                @{bg = item.INGRESO_DATOS == 0 ? "bg-sres-claro" : "bg-sres-verde-claro";
                                    linea = item.INGRESO_DATOS == 0 ? "border-linea" : "border-linea-verde";
                                    icono = item.INGRESO_DATOS == 0 ? "" : "<i class='fas fa-check-circle text-sres-verde indicador'></i>";
                                    pathDirectoryRelative = string.Format(pathFormat, item.ID_CRITERIO);
                                }

                                @Html.Raw(icono)
                                <a class="d-block @bg @linea rounded h-100 p-3 criterios" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">
                                    <img class="img-fluid" src="@Url.Content($"~/{pathDirectoryRelative}/{item.ARCHIVO_BASE}")">
                                    <div class="estilo-01 text-sres-azul pt-3">@item.NOMBRE</div>
                                    <div class="criterios-descripcion">@item.DESCRIPCION</div>
                                </a>
                            </div>
                        }
                     }
                 }
            </div>*@

            <div class="row mb-5">
                <h2 class="p-2 my-4 estilo-04 text-center text-sres-azul w-100" style="z-index: 1;">CRITERIOS PARA ALCANZAR CATEGORÍAS DEl RECONOCIMIENTO DE ENERGÍA eficiente y sostenible</h2>
            </div>
            <div class="container">
                <div class="row mb-5">
                    <div class="offset-lg-2 col-lg-3 offset-md-3 col-md-3 offset-sm-3 col-sm-6 text-center my-2 d-flex">
                        @*<i class="fas fa-2x fa-check-circle text-sres-verde indicador"></i>*@
                        @if (flag_categoria > 0)
                        {
                            <i class="fas fa-2x fa-check-circle text-sres-verde indicador"></i>
                        } 
                        <img class="criterios-evaluacion img-fluid w-100 shadow @linea_categoria" src="@Url.Content("~/Assets/images/criterio-01.png")" data-anidado="3">
                        <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que ha medido su ahorro energético (mínimo 1 año) después de la implementación de mejora de eficiencia energética. Este porcentaje de ahorro es el consumo reducido por la medida implementada respecto al consumo total de energía eléctrica de la organización. Este reconocimiento brinda puntaje para alcanzar la categoría deseada y a su vez brinda puntaje para la obtención de estrellas que permite reconocer como han logrado reducir sus emisiones de Gases de Efecto Invernadero (GEI) en beneficio del ambiente.</p>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <a class="estilo-02 text-sres-azul mt-3 text-left" href="#" data-toggle="modal" data-target="#modal-criterios-anidado">Reducción de Consumo Energético</a>
                        <div class="dropdown-divider"></div>
                        <div class="estilo-10 text-sres-verde text-left">Equivalente a 60 puntos (60% del total)</div>
                        <div class="estilo-01 text-sres-gris mt-1 text-justify mt-3">Es el principal criterio para la obtención del Reconocimiento del Energía Eficiente y Sostenible. Bajo él, se consideran todas las acciones que resultan en ahorro de energía eléctrica y ahorro de energía térmica, sumando para el puntaje de valoración</div>
                        <!--.estilo-01.text-white.mt-1.text-justify.mt-2 Estimado postulante el 50% del puntaje para adquirir categoría del Reconocimiento se logrará con las acciones de ahorro de energía.-->
                        <div class="estilo-01 mt-1 text-justify mt-2">Este criterio equivale a 60 puntos del total para adquirir la categoría de reconocimiento con las acciones de reducción de ahorro energético.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <h2 class="p-2 mt-4 estilo-04 text-sres-azul text-center w-100" style="z-index: 1;">OTRAS ACCIONES DE GESTIÓN EFICIENTE Y SOSTENIBLE DE LA ENERGÍA QUE APORTAN A LA VALORACIÓN DE LA POSTULACIÓN</h2>
                <div class="estilo-01 text-center w-100" style="z-index: 1;">Los otros 40 puntos (40% del total) se puede obtener a través de los siguientes 4 criterios.</div>
            </div>
            <div class="container">
                <div class="row mb-5">

                    @if (listaCriterio != null)
                    {
                        if (listaCriterio.Count > 0)
                        {
                            string bg = "";
                            string linea = "";
                            string icono = "";
                            string pathDirectoryRelative = "";
                            foreach (CriterioBE item in listaCriterio)
                            {
                                if (item.ID_CATEGORIA == 2)
                                {
                                    {
                                        bg = item.INGRESO_DATOS == 0 ? "bg-sres-claro" : "bg-sres-verde-claro";
                                        linea = item.INGRESO_DATOS == 0 ? "border-linea" : "border-linea-verde";
                                        icono = item.INGRESO_DATOS == 0 ? "" : "<i class='fas fa-check-circle text-sres-verde indicador'></i>";
                                        pathDirectoryRelative = string.Format(pathFormat, item.ID_CRITERIO);
                                    }

                                    <div class="col-lg-6 col-md-6 col-sm-12 text-center my-3">
                                        <div class="row">
                                            <div class="col-lg-4 text-center text-lg-right">
                                                <a href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">
                                                    @Html.Raw(icono)
                                                    <img class="criterios-evaluacion img-fluid shadow @linea" src="@Url.Content($"~/{pathDirectoryRelative}/{item.ARCHIVO_BASE}")">
                                                </a>
                                                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que se encuentre en el camino de la optimización del uso de la energía con el fin de buscar el uso racional y eficiente de la energía. A través de la gestión energética se detectan oportunidades de mejora en acpectos relacionados con la calidad y seguridad de los sistemas energéticos, logrando que los usuarios conozcan el sistema, identifiquen los puntos de consumo e implmentar mejoras, alcanzando altos niveles de eficiencia energética, en ese sentido el presente reconocimiento se les dará a las organizaciones que se establezcan una política y unos objetivos energéticos, para alcanzar dichos objetivos. Este reconocimiento solo brinda puntaje para alcanzar la categoría deseada.</p>
                                            </div>
                                            <div class="col-lg-8">
                                                <a href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">
                                                    <div class="estilo-02 text-sres-azul text-left">@item.NOMBRE</div>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <div class="estilo-10 text-sres-verde text-left">@item.DESCRIPCION_VALOR</div>
                                                <div class="estilo-01 text-sres-gris text-justify mt-3">@item.DESCRIPCION_CORTA</div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="dropdown-divider my-5 wow fadeIn"></div><b class="estilo-02 text-sres-azul">Resultados preliminares:</b>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                    <div class="alert alert-info p-0">
                        <div class="badge badge-info badge-sres px-4 py-2"><small class="estilo-02">Total de Ahorro Energético Eléctrico Reducido</small></div>
                        <div class="text-sres-azul">
                            <span class="d-block estilo-09 mt-3">@energia.ToString("N2")</span>
                            <smal class="d-block estilo-01 mb-3 encima">Kilovatio Hora</smal>
                        </div><i class="fas fa-bolt fa-3x mb-3"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                    <div class="alert alert-primary p-0">
                        <div class="badge badge-primary badge-sres px-4 py-2"><small class="estilo-02">Total de Ahorro de Combustible &nbsp; Reducido</small></div>
                        <div class="text-sres-azul">
                            <span class="d-block estilo-09 mt-3">@combustible.ToString("N2")</span>
                            <smal class="d-block estilo-01 mb-3 encima">Tera Joules</smal>
                        </div><i class="fas fa-charging-station fa-3x mb-3"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                    <div class="alert alert-warning p-0">
                        <div class="badge badge-warning badge-sres px-4 py-2"><small class="estilo-02">Total de Emisiones GEI Reducidas de tCO<sub>2</sub></small></div>
                        <div class="text-sres-verd">
                            <span class="d-block estilo-09 mt-3">@emisiones.ToString("N2")</span>
                            <smal class="d-block estilo-01 mb-3 encima">toneladas CO<sub>2</sub></smal>
                        </div><i class="far fa-check-circle fa-3x mb-3"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                    <div class="alert alert-success p-0">
                        <div class="badge badge-success badge-sres px-4 py-2"><small class="estilo-02">Total de Puntaje Preliminar, Pendiente de Aprobación</small></div>
                        <div class="text-sres-azul">
                            <span class="d-block estilo-09 mt-3">@puntaje</span>
                            <smal class="d-block estilo-01 mb-3 encima">de @puntaje_posible puntos potenciales</smal>
                        </div><i class="fas fa-chart-line fa-3x mb-3"></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="rayado my-5 wow fadeIn"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 my-3"></div>
                <div class="col-lg-3 col-md-12 col-sm-12 my-3"></div>
                <div class="col-lg-3 col-md-12 col-sm-12 my-3"><a class="btn btn-secondary text-white w-100 mb-3" href="@Url.Action("Index","Convocatoria")">Regresar</a></div>
                <div class="col-lg-3 col-md-12 col-sm-12 my-3"><a class="btn btn-primary text-white w-100 mb-3" href="javascript:void(0)" id="btnGuardar">Finalizar</a></div>
            </div>
            <div class="row">
                <div class="col-12 alert-add">
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="modal-valores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="">
                <div class="modal-header bg-sres-azul text-white">
                    <h5 class="modal-title estilo-01" id="exampleModalLabel">IMPORTAR EMISIONES REDUCIDAS DE TCO2 DESDE LA PLATAFORMAR MRV</h5>
                    <button class="text-white close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </form>
            <div class="modal-body medidas-modal">
                <div class="row">
                    <div class="col-12">
                        <p class="estilo-01 text-sres-claro importar-mensaje">Selecciones las <b>Acciones de Mitigación</b> con las que participará para el <b>Reconocimiento por cada medida que aporta a las contribuciones nacionales determinadas (NDC)</b></p>
                        <div class="table-responsive tabla-principal" id="importar-medidas" >
                            <table class="table table-sm table-hover" id="tabla-migrar">
                                <thead class="estilo-06">
                                    <tr>
                                        <th scope="col" width="4%"><i class="fas fa-tasks fa-2x" data-toggle="tooltip" data-placement="bottom" title="En esta columna puede seleccionar todas las accioens de mitigación para su participación"></i></th>
                                        <th scope="col" width="3%">
                                            <div class="d-flex flex-column justify-content-between align-items-start">
                                                <div class="d-flex justify-content-between align-items-center w-100">N°&nbsp;</div>
                                                <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Número de orden"></i></div>
                                            </div>
                                        </th>
                                        <th scope="col" width="8%">
                                            <div class="d-flex flex-column justify-content-between align-items-start">
                                                <div class="d-flex justify-content-between align-items-center w-100">
                                                    <div class="pl-1 text-center w-100">CÓDIGO&nbsp;</div>
                                                </div>
                                                <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Código de la acción de mitigación"></i></div>
                                            </div>
                                        </th>
                                        <th scope="col" width="15%">
                                            <div class="d-flex flex-column justify-content-between align-items-start">
                                                <div class="d-flex justify-content-between align-items-center w-100">
                                                    <div class="pl-1 text-center w-100">IMAGEN&nbsp;</div>
                                                </div>
                                                <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Imagen representativa de la medida de mitigación correspondiente"></i></div>
                                            </div>
                                        </th>
                                        <th scope="col" width="50%">
                                            <div class="d-flex flex-column justify-content-between align-items-start">
                                                <div class="d-flex justify-content-between align-items-center w-100">
                                                    <div class="pl-1 text-center w-100">MEDIDA DE MITIGACIÓN&nbsp;</div>
                                                </div>
                                                <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Nombre de la medida de mitigación correspondiente"></i></div>
                                            </div>
                                        </th>
                                        <th scope="col" width="20%">
                                            <div class="d-flex flex-column justify-content-between align-items-start">
                                                <div class="d-flex justify-content-between align-items-center w-100">
                                                    <div class="pl-1 text-center w-100">EMISIONES REDUCIDAS tCO<sub>2</sub>&nbsp;</div>
                                                </div>
                                                <div class="d-flex justify-content-center align-items-center w-100"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Cantidad total de emisiones reducidas"></i></div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div id="registrar-mrv" class="alert alert-warning d-flex align-items-stretch" role="alert">
                            <div class="alert-wrap mr-3">
                                <div class="sa">
                                    <div class="sa-warning">
                                        <div class="sa-warning-body"></div>
                                        <div class="sa-warning-dot"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="alert-wrap">
                                <h6>NO ENCONTRAMOS EMISIONES PROVENIENTES DE LA PLATAFORMA MRV</h6>
                                <hr class="my-1"><small class="mb-0 estilo-01">Para importar sus emisiones de tCO<sub>2</sub> lo invitamos a registrarse en la <b>Plataforma MRV del sector energía</b> y registrar sus acciones de mitigación.<a class="estilo-01 text-sres-azul" href="@pathFormat_reg_mrv" target="_blank">&nbsp; Más información...</a></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="alert-emisones-add"></div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-sm btn-info" type="button" id="btn-migrar">Si, aceptar</button>
                    <button class="btn btn-sm btn-dark" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-criterios-anidado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="">
                <div class="modal-header bg-sres-azul text-white">
                    <h5 class="modal-title estilo-01" id="exampleModalLabel">CRITERIOS DE EVALUACIÓN</h5>
                    <button class="text-white close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </form>
            <div class="modal-body medidas-modal">

                @if (listaCriterio != null)
                {
                    if (listaCriterio.Count > 0)
                    {
                        string bg = "";
                        string linea = "";
                        string icono = "";
                        string pathDirectoryRelative = "";
                        foreach (CriterioBE item in listaCriterio)
                        {
                            if (item.ID_CATEGORIA == 1)
                            {
                                {
                                    bg = item.INGRESO_DATOS == 0 ? "bg-sres-claro" : "bg-sres-verde-claro";
                                    linea = item.INGRESO_DATOS == 0 ? "border-linea" : "border-linea-verde";
                                    icono = item.INGRESO_DATOS == 0 ? "" : "<i class='fas fa-check-circle text-sres-verde indicador'></i>";
                                    pathDirectoryRelative = string.Format(pathFormat, item.ID_CRITERIO);
                                }

                                <div class="row my-5">
                                    <div class="col-lg-3 col-md-12 col-sm-12 text-center text-lg-right"><a href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">
                                        @Html.Raw(icono)
                                        <img class="9riterios-evaluacion img-fluid shadow p-3 @linea" src="@Url.Content($"~/{pathDirectoryRelative}/{item.ARCHIVO_BASE}")"></a></div>
                                    <div class="col-lg-9 col-md-12 col-sm-12">
                                        <a href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">
                                            <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado" id="criterio-titulo">@item.NOMBRE</h2>
                                        </a>
                                        <p class="text-justify estilo-01 text-sres-gris" id="criterio-parrafo">@item.DESCRIPCION_CORTA</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                }

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="ruta" value="@pathFormat_mt" />

<script>
    const idConvocatoria = @convocatoria.ID_CONVOCATORIA;
    const idEtapa = @convocatoria.ID_ETAPA;
    const idInscripcion = @inscripcion.ID_INSCRIPCION;
    const ingresadosCri = @ingresados;
    const totalCri = @total_criterio;
    const idIniciativas = '@migrar.INICIATIVAS';
</script>