@using sres.be
@{
    ViewBag.Titulo = "Criterio";
    ViewBag.SRESDescription = false;
    ConvocatoriaBE convocatoria = (ConvocatoriaBE)ViewData["convocatoria"];
    InscripcionBE inscripcion = (InscripcionBE)ViewData["inscripcion"];
    CriterioBE criterio = (CriterioBE)ViewData["criterio"];
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/convocatoria_criterio.js")"></script>
}


<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="estilo-05" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Inicio")">Inicio</a></li>
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Convocatoria")">Bandeja</a></li>
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Criterios","Convocatoria")">Criterios</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ahorro de energía eléctrica total</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-sres-claro p-3">
                    <div class="row">
                        <div class="col-lg-1 col-md-12 text-left text-lg-center">
                            <div class="estilo-07 estilo-02-force text-sres-oscuro d-inline-block d-lg-block">16</div>
                            <div class="estilo-03 estilo-02-force text-sres-oscuro d-inline-block d-lg-block">Jun</div>
                            <div class="estilo-02 estilo-02-force text-sres-claro d-inline-block d-lg-block">2020</div>
                        </div>
                        <div class="col-lg-11 col-md-12 barra-oscura">
                            <h2 class="estilo-03 text-sres-oscuro text-limit-1">Cumbre Peruana de Ahorro Energético</h2>
                            <p class="estilo-01 text-justify text-sres-gris m-0 text-limit-3" data-limit="1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <div class="text-right d-none d-lg-block"><a class="estilo-01 text-sres-verde leer-mas" href="#">Leer más</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-3">
    <div class="container">
        <div class="rayado wow fadeIn"></div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                <div class="d-block bg-sres-claro border-linea rounded p-3">
                    <img class="img-fluid" src="@Url.Content("~/Assets/images/criterio-01.png")">
                    <div class="estilo-01 text-sres-azul pt-3">Ahorro de energía eléctrica total.</div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 text-center my-3" id="table-add">
                <div class="table-responsive tabla-principal">
                    <table class="table table-sm table-hover m-0">
                        <thead class="estilo-06">
                            <tr>
                                <th scope="col" width="20%">
                                    <div class="d-flex justify-content-start align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda"></i><span>DETALLES</span></div>
                                </th>
                                <th scope="col" width="20%">
                                    <div class="d-flex justify-content-start align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda"></i><span>DATO INICIAL</span></div>
                                </th>
                                <th scope="col" width="20%">
                                    <div class="d-flex justify-content-start align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda"></i><span>DATO FINAL</span></div>
                                </th>
                                <th scope="col" width="20%">
                                    <div class="d-flex justify-content-start align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda"></i><span>DIFERENCIA</span></div>
                                </th>
                                <th scope="col" width="20%">
                                    <div class="d-flex justify-content-start align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda"></i><span>PORCENTAJE DE AHORRO</span></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="estilo-01">
                            <tr>
                                <td data-encabezado="Detalles" scope="row">
                                    <div class="text-left estilo-01" data-count="0">
                                        ENERGÍA ACTIVA HORAS FUERA DE PUNTA (kWh)
                                    </div>
                                </td>
                                <td data-encabezado="Dato inicial">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Dato final">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Diferencia">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Porcentaje de ahorro">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-encabezado="Detalles" scope="row">
                                    <div class="text-left estilo-01" data-count="1">
                                        ENERGÍA ACTIVA HORAS DE PUNTA (kWh)
                                    </div>
                                </td>
                                <td data-encabezado="Dato inicial">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Dato final">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Diferencia">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Porcentaje de ahorro">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-encabezado="Detalles" scope="row">
                                    <div class="text-left estilo-01" data-count="2">
                                        ENERGÍA ACTIVA TOTAL (kWh)
                                    </div>
                                </td>
                                <td data-encabezado="Dato inicial">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Dato final">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Diferencia">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Porcentaje de ahorro">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-encabezado="Detalles" scope="row">
                                    <div class="text-left estilo-01" data-count="3">
                                        MÁXIMA DEMANDA (kWh)
                                    </div>
                                </td>
                                <td data-encabezado="Dato inicial">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Dato final">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Diferencia">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Porcentaje de ahorro">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-encabezado="Detalles" scope="row">
                                    <div class="text-left estilo-01" data-count="4">
                                        MÁXIMA DEMANDA (kWh)
                                    </div>
                                </td>
                                <td data-encabezado="Dato inicial">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Dato final">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Diferencia">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                                <td data-encabezado="Porcentaje de ahorro">
                                    <div class="form-group m-0">
                                        <input class="form-control form-control-sm estilo-01" type="text" placeholder="Texto aquí">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive tabla-principal">
                    <table class="table table-sm table-hover m-0">
                        <thead class="estilo-06">
                            <tr>
                                <th scope="col" width="100%">
                                    <div class="d-flex justify-content-start align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda"></i><span>DESCRIPCIÓN DE LA ACTIVIDAD RELACIONADA</span></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="estilo-01">
                        <td data-encabezado="DESCRIPCIÓN DE LA ACTIVIDAD RELACIONADA">
                            <div class="form-group m-0">
                                <textarea class="form-control form-control-sm estilo-01" cols="30" rows="5" placeholder="Texto aquí"></textarea>
                            </div>
                        </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-9 col-md-12 col-sm-12 mb-3">
                <div class="row">
                    <div class="col-lg-6"><a class="btn btn-secondary text-white w-100" href="@Url.Action("Criterios","Convocatoria")">Regresar</a></div>
                    <div class="col-lg-6">
                        <div class="btn btn-primary text-white w-100" type="button" id="btnGuardar">Guardar</div>
                    </div>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-9 col-md-12 col-sm-12 my-3">
                <div class="row">
                    <div class="col-12 alert-add">
                        @*<div class="alert alert-danger d-flex align-items-stretch" role="alert">
                            <div class="alert-wrap mr-3">
                                <div class="sa">
                                    <div class="sa-error">
                                        <div class="sa-error-x">
                                            <div class="sa-error-left"></div>
                                            <div class="sa-error-right"></div>
                                        </div>
                                        <div class="sa-error-placeholder"></div>
                                        <div class="sa-error-fix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="alert-wrap">
                                <h6 class="estilo-02">Ocurrió un Error inesperado</h6>
                                <hr class="my-1"><small class="mb-0 estilo-01">Inténtelo nuevamente por favor.</small>
                            </div>
                        </div>*@
                        @*<div class="alert alert-success d-flex align-items-stretch" role="alert">
                            <div class="alert-wrap mr-3">
                                <div class="sa">
                                    <div class="sa-success">
                                        <div class="sa-success-tip"></div>
                                        <div class="sa-success-long"></div>
                                        <div class="sa-success-placeholder"></div>
                                        <div class="sa-success-fix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="alert-wrap">
                                <h6 class="estilo-02">Bien hecho</h6>
                                <hr class="my-1"><small class="mb-0 estilo-01">Los registro de este criterio fueron guardados correctamente.</small>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
@*<h2>Criterio</h2>

@criterio.NOMBRE*@

@*<div>
    <button id="btnConsultar">CONSULTAR</button>
</div>*@
@*<div id="cabecera"></div>
<div>
    <button id="btnGuardar">Guardar</button>
</div>*@
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<script>
    const idCriterio = @criterio.ID_CRITERIO;
    const idInscripcion = @inscripcion.ID_INSCRIPCION;
</script>