@using sres.be
@{
    ViewBag.Titulo = "Criterios";
    ViewBag.SRESDescription = false;
    ConvocatoriaBE convocatoria = (ConvocatoriaBE)ViewData["convocatoria"];
    InscripcionBE inscripcion = (InscripcionBE)ViewData["inscripcion"];
    List<CriterioBE> listaCriterio = (List<CriterioBE>)ViewData["listaCriterio"];
}


<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="estilo-05" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Inicio")">Inicio</a></li>
                        <li class="breadcrumb-item"><a class="text-sres-gris" href="@Url.Action("Index","Convocatoria")">Bandeja</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Criterios</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-sres-claro p-3">
                    <div class="row">
                        <div class="col-lg-1 col-md-12 text-left text-lg-center">
                            <div class="estilo-07 estilo-02-force text-sres-oscuro d-inline-block d-lg-block">16</div>
                            <div class="estilo-03 estilo-02-force text-sres-oscuro d-inline-block d-lg-block">Jun</div>
                            <div class="estilo-02 estilo-02-force text-sres-claro d-inline-block d-lg-block">2020</div>
                        </div>
                        <div class="col-lg-11 col-md-12 barra-oscura">
                            <h2 class="estilo-03 text-sres-oscuro text-limit-1">Cumbre Peruana de Ahorro Energético</h2>
                            <p class="estilo-01 text-justify text-sres-gris m-0 text-limit-3" data-limit="1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <div class="text-right d-none d-lg-block"><a class="estilo-01 text-sres-verde leer-mas" href="#">Leer más</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-3">
    <div class="container">
        <div class="rayado wow fadeIn"></div>
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="estilo-02 text-justify text-sres-azul m-0">Ingrese a los criterios que desea postular</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            @if (listaCriterio != null)
            {
                if (listaCriterio.Count > 0)
                {
                    int index = 0;
                    foreach (CriterioBE item in listaCriterio)
                    {
                        index++;
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            <i class="fas fa-copy text-sres-verde indicador"></i><a class="d-block bg-sres-verde-claro border-linea-verde rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{1}")">
                                <img class="img-fluid" src="@Url.Content($"~/Assets/images/criterio-0{index}.png")">
                                <div class="estilo-01 text-sres-azul pt-3">@item.NOMBRE</div>
                            </a>
                        </div>
                        @*<div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            <a class="d-block bg-sres-claro border-linea rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{2}")">
                                <img class="img-fluid" src="@Url.Content("~/Assets/images/criterio-02.png")">
                                <div class="estilo-01 text-sres-azul pt-3">Ahorro de consumo de combustible.</div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            <a class="d-block bg-sres-claro border-linea rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{4}")">
                                <img class="img-fluid" src="@Url.Content("~/Assets/images/criterio-04.png")">
                                <div class="estilo-01 text-sres-azul pt-3">Implementación de un sistema de gestión de la energía.</div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            <a class="d-block bg-sres-claro border-linea rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{3}")">
                                <img class="img-fluid" src="@Url.Content("~/Assets/images/criterio-03.png")">
                                <div class="estilo-01 text-sres-azul pt-3">Generación de puestos de trabajo relacionado a la gestión de la energía.</div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            <a class="d-block bg-sres-claro border-linea rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{5}")">
                                <img class="img-fluid" src="@Url.Content("~/Assets/images/criterio-05.png")">
                                <div class="estilo-01 text-sres-azul pt-3">Diagnóstico energético.</div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            <i class="fas fa-copy text-sres-verde indicador"></i><a class="d-block bg-sres-verde-claro border-linea-verde rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{6}")">
                                <img class="img-fluid" src="@Url.Content("~/Assets/images/criterio-06.png")">
                                <div class="estilo-01 text-sres-azul pt-3">Cálculo de la huella de carbono.</div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            <a class="d-block bg-sres-claro border-linea rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{7}")">
                                <img class="img-fluid" src="@Url.Content("~/Assets/images/criterio-07.png")">
                                <div class="estilo-01 text-sres-azul pt-3">Fortalecimiento de capacidades para el buen uso de la energía.</div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center my-3">
                            <a class="d-block bg-sres-claro border-linea rounded h-100 p-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{8}")">
                                <img class="img-fluid" src="@Url.Content("~/Assets/images/criterio-08.png")">
                                <div class="estilo-01 text-sres-azul pt-3">Enfoque transversal de género.</div>
                            </a>
                        </div>*@
                    }
                }
            }
            <div class="offset-lg-9 col-lg-3 col-md-12 col-sm-12 my-3"><a class="btn btn-secondary text-white w-100 mb-3" href="./bandeja-postulante.html">Regresar</a></div>
        </div>
    </div>
</div>




@*<h2>Criterios</h2>

    @if (listaCriterio != null)
    {
        if (listaCriterio.Count > 0)
        {
            foreach (CriterioBE item in listaCriterio)
            {
                <ul>
                    <li>
                    @item.NOMBRE <a href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/Criterio/{item.ID_CRITERIO}")">Ingresar Criterio</a>
                    </li>
                </ul>
            }
        }
        else
        {
            <div>No existen criterios</div>
        }
    }
    else
    {
        <div>No existen criterios</div>
    }*@