@using sres.be
@{
    ViewBag.Titulo = "Evaluar Inscripción";
    ViewBag.SRESDescription = false;
    ConvocatoriaBE convocatoria = (ConvocatoriaBE)ViewData["convocatoria"];
    InscripcionBE inscripcion = (InscripcionBE)ViewData["inscripcion"];
    ViewBag.Full = true;
    ViewBag.HasOptions = false;
}
@section scripts_footer{
    <script>
        const idConvocatoria = @(convocatoria.ID_CONVOCATORIA);
        const idInscripcion = @(inscripcion.ID_INSCRIPCION);
    </script>
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/convocatoria_evaluarinscripcion.js")"></script>
}

@Html.Partial("_ConvocatoriaActual")
<div class="container-fluid mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="estilo-01 text-justify text-sres-gris m-0">Con la finalidad de que la entidad postulante demuestre las condiciones legales para realizar sus actividades económicas, se sugiere que éstas puedan cumplir con los siguientes criterios:</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-sres-claro py-5 px-3" id="viewInscripcionRequerimiento">
                    <div class="row">
                        <div class="col-12" id="lstInscripcionRequerimiento">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="chk-norma-01" checked disabled>
                                    <label class="custom-control-label text-justify estilo-01 text-sres-gris" for="chk-norma-01">Acepto cumplir con la normativa vigente que corresponda, pudiendo ser excluidas del premio en caso de verificarse incumplimiento de ésta, incluso una vez entregado el mismo</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="chk-norma-02" checked disabled>
                                    <label class="custom-control-label text-justify estilo-01 text-sres-gris" for="chk-norma-02">Acepto permitir la visita a las instalaciones, facilitar información complementaria y/o presentar el proyecto al Comité Organizador y Evaluador, en caso que éste lo solicite.</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="chk-norma-03" checked disabled>
                                    <label class="custom-control-label text-justify estilo-01 text-sres-gris" for="chk-norma-03">Acepto permitir la visita a las instalaciones, facilitar información complementaria y/o presentar el proyecto al Comité Organizador y Evaluador, en caso que éste lo solicite.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6 col-md-12 col-sm-12">
                            <div class="alert alert-warning" role="alert">
                                <div class="alert-wrap">
                                    <div class="form-group">
                                        <label for="txa-observaciones">Observaciones:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-warning"><span class="input-group-text"><i class="fas fa-comment"></i></span></div>
                                            <textarea class="form-control estilo-01" id="txa-observaciones" cols="30" rows="5" maxlenght="400" placeholder="Ingrese la descripción de sus observaciones">@inscripcion.OBSERVACION</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-sm-12"><a class="btn btn-secondary text-white w-100 mb-3" href="@Url.Content($"~/Convocatoria/{convocatoria.ID_CONVOCATORIA}/BandejaParticipantes")">Regresar</a></div>
                                <div class="col-lg-6 col-sm-12 col-sm-12"><a class="btn btn-primary text-white w-100 mb-3" href="#" id="btnEvaluar">Evaluar</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>