@using sres.be
@{
    ViewBag.Titulo = "Index";
    ViewBag.SRESDescription = false;
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}
@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/convocatoria.js")"></script>
}

<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12">
                <div class="resaltar">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="img-fluid" src="@Url.Content("~/Assets/images/sin-foto.png")" alt="">
                            <label class="cursor-pointer fle-logo" for="fle-logo" data-toggle="tooltip" data-placement="bottom" title="Editar logo">
                                <i class="fas fa-camera fa-lg"></i>
                                <input class="d-none" type="file" id="fle-logo" accept="image/jpeg, .jpg, .png">
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm btn-primary w-100 mt-1" style="display:none;">Guardar</button>
            </div>
            <div class="col-lg-6 col-md col-sm-12">
                <div class="bg-sres-claro p-2">
                    <h2 class="estilo-03 text-sres-oscuro text-limit-1">@usuario.INSTITUCION.RAZON_SOCIAL</h2>
                    <h3 class="estilo-04 text-sres-gris py-2">@usuario.INSTITUCION.RUC</h3>
                    <div class="resaltar">
                        <p class="estilo-01 text-justify text-sres-gris text-limit-3 pr-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><span data-toggle="modal" data-target="#modal-edit-descripcion">
                            <label class="cursor-pointer edit-descripcion" data-toggle="tooltip" data-placement="bottom" title="Editar descripción"><i class="fas fa-edit fa-lg"></i></label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="bg-sres-claro p-2">
                    <h3 class="estilo-04 text-sres-gris py-2">ÚLTIMOS RECONOCIMIENTOS</h3>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                            <img class="img-fluid pt-2 pb-1" src="@Url.Content("~/Assets/images/oro.png")">
                            <div class="span estilo-01 text-sres-gris py-2">2020</div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                            <img class="img-fluid pt-2 pb-1" src="@Url.Content("~/Assets/images/plata.png")">
                            <div class="span estilo-01 text-sres-gris py-2">2019</div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                            <img class="img-fluid pt-2 pb-1" src="@Url.Content("~/Assets/images/bronce.png")">
                            <div class="span estilo-01 text-sres-gris py-2">2018</div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                            <img class="img-fluid pt-2 pb-1" src="@Url.Content("~/Assets/images/sin-sres.png")">
                            <div class="span estilo-01 text-sres-gris py-2">-------</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rayado pt-5 wow fadeIn"></div>
    </div>
</div>
<div class="container-fluid" id="sectionSearch">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro" for="txt-expediente">NRO. EXPEDIENTE</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="text" id="txt-expediente" placeholder="#######">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro" for="txt-descripcion">DESCRIPCIÓN DE CONVOCATORIA</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="text" id="txt-descripcion" placeholder="Ingrese la descripción de su búsqueda#">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro" for="txt-expediente">FECHA DESDE</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="date" id="dat-desde">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro" for="dat-desde">FECHA HASTA</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="date" id="dat-hasta">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="estilo-01 text-sres-oscuro" for="dat-hasta">&nbsp;</label>
                    <div class="input-group">
                        <button id="btnConsultar" class="btn btn-primary w-100">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive tabla-principal">
                    <table id="tblConvocatoria" class="table table-sm table-hover">
                        <thead class="estilo-06">
                            <tr>
                                <th scope="col" width="3%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Número de expediente"></i>N°&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="8%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Número de expediente"></i>CÓDIGO&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="5%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Período al que corresponde la convocatoria"></i>AÑO&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="29%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Nombre o descripción de la convocatoria"></i>DESCRIPCIÓN DE LA CONVOCATORIA&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="12%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Fecha de inicialización de la convocatoria"></i>FECHA INICIO&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Fecha de finalización de la convocatoria"></i>FECHA FIN&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Progreso del vencimiento"></i>PROGRESO&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="13%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Estado de la convocatoria"></i>ESTADO&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                                <th scope="col" width="10%">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Herramientas y opciones"></i>GESTIÓN&nbsp;</div><i class="fas fa-sort"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="estilo-01"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 mt-4 estilo-01 d-flex justify-content-start align-items-center">
                <div class="row">
                    <div class="col-12"><strong>Resultado:&nbsp;</strong><span class="inicio-registros">1</span><span id="view-page-result">-<span class="fin-registros">1</span> de <span class="total-registros">1</span> registros</span></div>
                </div>
            </div>
            <div id="viewPagination" class="col-sm-12 col-lg-6 mt-4 estilo-01 d-flex justify-content-end align-items-center" style="display: none">
                <div class="row">
                    <div class="col-12">
                        <strong>Registros por página&nbsp;</strong>
                        <select id="catidad-rgistros">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;
                        <span class="pagina">1</span> de <span class="total-paginas">75</span> páginas&nbsp;
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button class="btn btn-sm btn-primary" type="button" id="btnFirstPagination"><i class="fas fa-angle-double-left"></i></button>
                            <button class="btn btn-sm btn-primary" type="button" id="btnPreviousPagination"><i class="fas fa-angle-left"></i></button>
                            <input id="ir-pagina" class="ir-pagina" type="number" value="1" min="1">
                            <button class="btn btn-sm btn-primary" type="button" id="btnNextPagination"><i class="fas fa-angle-right"></i></button>
                            <button class="btn btn-sm btn-primary" type="button" id="btnLastPagination"><i class="fas fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<a href="@Url.Content($"~/Convocatoria/{1}/Criterios")">Criterios</a>*@

@*<div>
    <div>
        <label>
            N° Expediente: <input type="text" name="txtNroInformeBusqueda" id="txtNroInformeBusqueda" />
        </label>
        <label>
            Descripción : <input type="text" name="txtNombreBusqueda" id="txtNombreBusqueda" />
        </label>
        <label>
            Fecha Desde: <input type="date" name="txtFechaDesdeBusqueda" id="txtFechaDesdeBusqueda" />
        </label>
        <label>
            Fecha Hasta: <input type="date" name="txtFechaHastaBusqueda" id="txtFechaHastaBusqueda" />
        </label>
        <button id="btnConsultar">CONSULTAR</button>
    </div>
</div>
<div>
    <table id="tblConvocatoria">
        <thead>
            <tr>
                <th>Expediente</th>
                <th>Periodo</th>
                <th>Descripción Convocatoria</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Vencimiento</th>
                <th>Estado</th>
                <th>Participar</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>*@