@using sres.be
@{
    ViewBag.Titulo = "Inscribirme";

    ConvocatoriaBE convocatoria = (ConvocatoriaBE)ViewData["convocatoria"];
    InscripcionBE inscripcion = (InscripcionBE)ViewData["inscripcion"];
}

@section scripts_footer{
    <script>
        const idConvocatoria = @(convocatoria.ID_CONVOCATORIA);
        const idInscripcion = @(inscripcion == null ? "null" : inscripcion.ID_INSCRIPCION.ToString());
    </script>
    <script src="@Url.Content("~/Assets/js/pages/convocatoria_inscribirme.js")"></script>
}

<h2>DATOS DE LA CONVOCATORIA @convocatoria.NOMBRE</h2>

<div>
    <label>FECHA INICIO: </label> @convocatoria.FECHA_INICIO.ToString("dd/MM/yyyy")
</div>
<div>
    <label>FECHA FIN: </label> @convocatoria.FECHA_FIN.ToString("dd/MM/yyyy")
</div>

<div id="lstInscripcionRequerimiento"></div>

<button id="btnInscribirme" type="button">@(inscripcion == null ? "INSCRIBIRME" : "ACTUALIZAR DOCUMENTOS")</button>
@if(inscripcion != null)
{
    <a href="@Url.Content($"~/Convocatoria/{inscripcion.ID_CONVOCATORIA}/Criterios")">COMPLETAR CRITERIOS</a>
}