@using sres.be
@{
    ViewBag.Titulo = "Seguimiento";
    ViewBag.SRESDescription = false;
    InscripcionBE inscripcion = (InscripcionBE)ViewData["inscripcion"];
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/convocatoria_seguimiento.js")"></script>
}

<div class="container-fluid my-5">
    <div class="container"></div>
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4 d-print-none">
                <div class="row">
                    <div class="col-md-12 col-lg-9 pt-4">
                        <div class="h4 text-sres-azul">
                            <span class="nombre-comercial">Participante Nombre Comercial de la Empresa&nbsp;</span>
                            <br>
                            <small class="text-muted">Seguimiento de la entidad en el proceso de esta convocatoria, <br />así como los detalles de cada evento.</small>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <a class="btn btn-primary btn-lg w-100 mb-3" href="@Url.Action("Index","Convocatoria")"><i class="fas fa-hand-point-left px-1"></i>Volver atrás</a>
                                <div class="btn-group btn-group-lg w-100">
                                    @*<a class="btn btn-success dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-download pr-1"></i>Descargar</a>*@
                                    <div class="dropdown-menu dropdown-menu-right w-100">
                                        <a class="dropdown-item" href="#"><i class="fas fa-file-pdf pr-1"></i>Formato pdf</a>
                                        <a class="dropdown-item" href="javascript:print();"><i class="fas fa-print pr-1"></i>Imprimir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid py-4 px-0 bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-timeline7" id="seguimiento">
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-save"></i>
                                    </div>
                                    <span class="year">14/03/2020 11:41</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN SIN ENVIAR
                                            <br>
                                            <small class="text-muted">INICIATIVA DE MITIGACIÓN</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>NOMBRE DE PROYECTO</strong><br>Buses y carros de prueba electricos<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>anibal.roman@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-02">Usuario administrado</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-paper-plane"></i>
                                    </div>
                                    <span class="year">14/03/2020 11:42</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN ENVIADA
                                            <br>
                                            <small class="text-muted">INICIATIVA DE MITIGACIÓN</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>NOMBRE DE PROYECTO</strong><br>Buses y carros de prueba electricos<br></span>
                                            <span><strong>INICIO DE OPERACIONES</strong><br>21/03/2019<br></span>
                                            <span><strong>MONEDA</strong><br>SOLES<br></span>
                                            <span><strong>MONTO INVERSIÓN</strong><br>12,000.00<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>anibal.roman@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-02">Usuario administrado</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                    <span class="year">14/03/2020 11:45</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN OBSERVADA
                                            <br>
                                            <small class="text-muted">INICIATIVA DE MITIGACIÓN</small>
                                        </h5>
                                        <div>
                                            <span><strong>OBSERVACIÓN</strong><br>no se debe realizar de esa forma<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>alfredotrelles97@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-03">ESPECIALISTA</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-save"></i>
                                    </div>
                                    <span class="year">14/03/2020 11:48</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN OBSERVADA SUBSANADA SIN ENVIAR
                                            <br>
                                            <small class="text-muted">INICIATIVA DE MITIGACIÓN</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>NOMBRE DE PROYECTO</strong><br>Buses y carros de prueba electricos<br></span>
                                            <span><strong>INICIO DE OPERACIONES</strong><br>21/03/2019<br></span>
                                            <span><strong>MONEDA</strong><br>SOLES<br></span>
                                            <span><strong>MONTO INVERSIÓN</strong><br>12,000.00<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>anibal.roman@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-02">Usuario administrado</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <span class="year">14/03/2020 11:49</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN OBSERVADA SUBSANADA ENVIADA
                                            <br>
                                            <small class="text-muted">INICIATIVA DE MITIGACIÓN</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>NOMBRE DE PROYECTO</strong><br>Buses y carros de prueba electricos<br></span>
                                            <span><strong>INICIO DE OPERACIONES</strong><br>21/03/2019<br></span>
                                            <span><strong>MONEDA</strong><br>SOLES<br></span>
                                            <span><strong>MONTO INVERSIÓN</strong><br>12,000.00<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>anibal.roman@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-02">Usuario administrado</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:01</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN APROBADA
                                            <br>
                                            <small class="text-muted">INICIATIVA DE MITIGACIÓN</small>
                                        </h5>
                                        <div>
                                            <span><strong>ENERGÉTICO</strong><br>CO2<br></span>
                                            <span><strong>GEI</strong><br>COMBUSTIBLES SOLIDOS<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>alfredotrelles97@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-03">ESPECIALISTA</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-save"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:03</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN SIN ENVIAR
                                            <br>
                                            <small class="text-muted">DETALLE DE INDICADORES</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>ENFOQUE</strong><br>VEHICULOS ELECTRICOS (CONSUMO)<br></span>
                                            <span><strong>ARCHIVOS</strong><br>0 Documento(s) asociado(s)<br></span>
                                            <span><strong>TOTAL GEI</strong><br>0 tCO<sub>2</sub>eq<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>anibal.roman@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-02">Usuario administrado</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-paper-plane"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:04</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN ENVIADA
                                            <br>
                                            <small class="text-muted">DETALLE DE INDICADORES</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>ENFOQUE</strong><br>VEHICULOS ELECTRICOS (RECORRIDO)<br></span>
                                            <span><strong>ARCHIVOS</strong><br>1 Documento(s) asociado(s)<br></span>
                                            <span><strong>TOTAL GEI</strong><br>0 tCO<sub>2</sub>eq<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>anibal.roman@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-02">Usuario administrado</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:09</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN OBSERVADA
                                            <br>
                                            <small class="text-muted">DETALLE DE INDICADORES</small>
                                        </h5>
                                        <div>
                                            <span><strong>OBSERVACIÓN</strong><br>no estamos<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>alfredotrelles97@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-03">ESPECIALISTA</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:15</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN OBSERVADA SUBSANADA ENVIADA
                                            <br>
                                            <small class="text-muted">DETALLE DE INDICADORES</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>ENFOQUE</strong><br>VEHICULOS ELECTRICOS (RECORRIDO)<br></span>
                                            <span><strong>ARCHIVOS</strong><br>1 Documento(s) asociado(s)<br></span>
                                            <span><strong>TOTAL GEI</strong><br>0 tCO<sub>2</sub>eq<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>anibal.roman@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-02">Usuario administrado</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-check-double"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:20</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN APROBADA
                                            <br>
                                            <small class="text-muted">DETALLE DE INDICADORES</small>
                                        </h5>
                                        <div>
                                            <span><strong>TOTAL GEI</strong><br>4891,84 tCO<sub>2</sub>eq<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>alfredotrelles97@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-03">ESPECIALISTA</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:21</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN OBSERVADA
                                            <br>
                                            <small class="text-muted">INICIATIVA / DETALLES</small>
                                        </h5>
                                        <div>
                                            <span><strong>OBSERVACIÓN</strong><br>no especilsita<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>carlos@grupo-zuniga.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-06">Administrador MRV</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-check-double"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:23</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN APROBADA
                                            <br>
                                            <small class="text-muted">DETALLE DE INDICADORES</small>
                                        </h5>
                                        <div>
                                            <span><strong>TOTAL GEI</strong><br>4891,84 tCO<sub>2</sub>eq<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>alfredotrelles97@gmail.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-03">ESPECIALISTA</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-check-double"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:24</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            SOLICITUD DE REVISIÓN APROBADA
                                            <br>
                                            <small class="text-muted">INICIATIVA / DETALLES</small>
                                        </h5>
                                        <div>
                                            <span><strong>TOTAL GEI</strong><br>4891,84 tCO<sub>2</sub>eq<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>carlos@grupo-zuniga.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-06">Administrador MRV</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fas fa-paper-plane"></i>
                                    </div>
                                    <span class="year">14/03/2020 12:27</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            ENVIADO PARA EVALUACIÓN
                                            <br>
                                            <small class="text-muted">INICIATIVA / DETALLES</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>MEDIDA PERÍODO</strong><br>01/01/2019 - 31/12/2019<br></span>
                                            <span><strong>TOTAL ENVIADAS</strong><br>1 INICIATIVAS DE MITIGACIÓN<br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>juan@grupo-zuniga.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-04">Evaluador MINAM</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline" style="margin-top: 0px !important">
                                    <div class="timeline-icon">
                                        <i class="fas fa-flag-checkered"></i>
                                    </div>
                                    <span class="year">14/03/2020 14:09</span>
                                    <div class="timeline-content">
                                        <h5 class="title">
                                            EVALUACIÓN APROBADA
                                            <br>
                                            <small class="text-muted">INICIATIVA / DETALLES</small>
                                        </h5>
                                        <div>
                                            <span><strong>MEDIDA MITIGACIÓN</strong><br>Promoción de vehículos eléctricos - PVE<br></span>
                                            <span><strong>NOMBRE PROYECTO</strong><br>Buses y carros de prueba electricos<br></span>
                                            <span><strong>TOTAL GEI</strong><br>4891,84 tCO<sub>2</sub>eq<br></span>
                                            <span><strong>BLOCKCHAIN</strong><br>1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c1a94828113c0b7abac334271ff252e9a8ff62f28eb4e32608a4d42673500f70c<br></span>
                                            <span><strong>GENERADO POR</strong><br>Juan Soto <br></span>
                                            <span><strong>CORREO ELECTRÓNICO</strong><br>juan@grupo-zuniga.com<br></span>
                                        </div>
                                        <p class="description">
                                            <span class="badge badge-actor-04">Evaluador MINAM</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="dropdown-divider my-5"></div>
                    <div class="row d-print-none">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">
                                    <div class="btn-group w-100">
                                        @*<a class="btn btn-success dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-download pr-1"></i>Descargar</a>*@
                                        <div class="dropdown-menu dropdown-menu-right w-100">
                                            <a class="dropdown-item" href="#"><i class="fas fa-file-pdf pr-1"></i>Formato pdf</a>
                                            <a class="dropdown-item" href="javascript:print();"><i class="fas fa-print pr-1"></i>Imprimir</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 text-right">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">&nbsp;</div>
                                <div class="col-lg-6">
                                    <a class="btn btn-dark px-5 w-100 text-center mb-3" href="@Url.Action("Index","Convocatoria")"><i class="fas fa-hand-point-left pr-1"></i>Volver atrás</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    idInscripcion = @inscripcion.ID_INSCRIPCION;
</script>