@{
    ViewBag.Titulo = "Categorías";
    ViewBag.SRESDescription = false;
    ViewBag.Header = new Dictionary<string, object>
    {
        ["Imagen"] = "~/Assets/images/reconocimientos.png",
        ["Titulo"] = "CATEGORÍAS"
    };
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/categoria.js")"></script>
}

<div class="container-fluid my-5">
    <div class="container">
        @*<div class="row">
            <div class="col-12">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp" id="categoria-01">1° Sello de Reconocimiento de Energía Sostenible</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">El sello se entrega en tres categorías, según el alcance y esfuerzo de las entidades que implementan las medidas de energía sostenible. Las categorías son: Oro, Plata y Bronce.</p>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Sello de Reconocimiento de Energía Sostenible Categoría Oro</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Es la distinción más alta, requerirá que la entidad haya implementado al menos dos medidas de energía sostenibles, junto con un sistema formal de monitoreo y reporte de indicadores de desempeño, entre otros criterios.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Sello de Reconocimiento de Energía Sostenible Categoría Plata</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Se entregará a las entidades que hayan implementado una medida de energía sostenible, además de haber realizado una auditoria energética parcial, entre otros criterios.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Sello de Reconocimiento de Energía Sostenible Categoría Bronce</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Se obtendrá por las entidades que hayan logrado la implementación de una medida de energía sostenible, además de realizar el monitoreo de indicadores de desempeño, entre otros criterios.</p>
            </div>
        </div>
        @*<div class="row">
            <div class="offset-lg-4 col-lg-4 col-md-12 col-sm-12 mb-5 text-center"><a class="estilo-01 text-sres-verde wow slideInUp" href="javascript:void(0)">Ver más</a></div>
        </div>*@
        <div class="row">
            <div class="col-12 mb-5">
                @*<h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp" id="categoria-02">2° Reconocimiento por reducción de emisiones GEI (tCO2)</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Adicional al sello, se reconocerá las reducciones de emisiones de GEI como resultado de la implementación de una mejora de energía sostenible.</p>*@
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría oro</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría plata</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría bronce</h2>
                        </div>
                    </div>
                </div>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Esta distinción será meritoria sólo a aquellas entidades que logren una mayor reducción de GEI por medida de energía sostenible implementada. Se concreta a través de una escala de estrellas añadidas al diseño del Sello.</p>
            </div>
        </div>

    </div>
</div>