@{
    ViewBag.Titulo = "Categorías";
    ViewBag.SRESDescription = false;
    ViewBag.Header = new Dictionary<string, object>
    {
        ["Imagen"] = "~/Assets/images/reconocimientos.png",
        ["Titulo"] = "CATEGORÍAS"
    };
}

<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">1° Sello de Reconocimiento de Energía Sostenible</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">El sello se entrega en tres categorías, según el alcance y esfuerzo de las entidades que implementan las medidas de energía sostenible. Las categorías son: Oro, Plata y Bronce.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Sello de Reconocimiento de Energía Sostenible Categoría Oro</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Es la distinción más alta, requerirá que la entidad haya implementado al menos dos medidas de energía sostenibles, junto con un sistema formal de monitoreo y reporte de indicadores de desempeño, entre otros criterios.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Sello de Reconocimiento de Energía Sostenible Categoría Plata</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Se entregará a las entidades que hayan implementado una medida de energía sostenible, además de haber realizado una auditoria energética parcial, entre otros criterios.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Sello de Reconocimiento de Energía Sostenible Categoría Bronce</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Se obtendrá por las entidades que hayan logrado la implementación de una medida de energía sostenible, además de realizar el monitoreo de indicadores de desempeño, entre otros criterios.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-md-12 col-sm-12 mb-5 text-center"><a class="estilo-01 text-sres-verde wow slideInUp" href="javascript:void(0)">Ver más</a></div>
        </div>
        <div class="row">
            <div class="col-12 mb-5">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">2° Reconocimiento por reducción de emisiones GEI (tCO2)</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Adicional al sello, se reconocerá las reducciones de emisiones de GEI como resultado de la implementación de una mejora de energía sostenible.</p>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría oro</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría plata</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría bronce</h2>
                        </div>
                    </div>
                </div>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Esta distinción será meritoria sólo a aquellas entidades que logren una mayor reducción de GEI por medida de energía sostenible implementada. Se concreta a través de una escala de estrellas añadidas al diseño del Sello.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-md-12 col-sm-12 mb-5 text-center"><a class="estilo-01 text-sres-verde wow slideInUp" href="javascript:void(0)">Ver más</a></div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">3° Reconocimiento por cada medida que aporta a las Contribuciones Nacionales Determinadas (NDC)</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Este reconocimiento será otorgado a aquellas entidades que, adicional a alcanzar una categoría en el Sello, logren contribuir con el más alto aporte de emisiones reducidas de CO2 en cada medida relacionada a la NDC de mitigación del cambio climático desde el sector del uso y generación de energía, implementadas por el Minem, desde la DGEE. Éstas son:</p>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">
                    <ol>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Etiquetado de Eficiencia Energética</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Eficiencia energética en el sector industrial</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Eficiencia energética en el sector comercial (no aplica para entidades del sector público)</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Auditorias energética en el sector público (no aplica para entidades del sector privado)</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Transformación del mercado de iluminación en el sector residencial</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Reemplazo de lámparas de baja eficiencia por lámparas LED en el sector público</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Reemplazo de lámparas de alumbrado público de vapor de sodio de alta presión (VSAP) por lámparas LED. (no aplica para entidades del sector privado)</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Cocción limpia (ámbito rural)</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Electrificación rural con sistemas fotovoltaicos</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Combinación de las Energías Renovables</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Generación distribuida</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Vehículos eléctricos</li>
                    </ol>
                </p>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Para esto, la medida no debió ser contabilizada en los aportes de la NDC, además de que la entidad no haya comercializado sus emisiones en cada medida.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-amarilla hover-mm wow bounceInUp" data-wow-delay=".4s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_amarillo_01.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Transformación del mercado de iluminación del sector residencial</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-amarilla hover-mm wow bounceInUp" data-wow-delay=".5s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_amarillo_02.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Reemplazo de lámparas de alumbrado público por lámparas LED</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-amarilla hover-mm wow bounceInUp" data-wow-delay=".6s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_amarillo_03.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Etiquetado de eficiencia energética</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-amarilla hover-mm wow bounceInUp" data-wow-delay=".7s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_amarillo_04.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Auditorías energéticas sector público</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-amarilla hover-mm wow bounceInUp" data-wow-delay=".4s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_amarillo_05.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Reemplazo de lámparas por lámparas LED en el sector público</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-amarilla hover-mm wow bounceInUp" data-wow-delay=".5s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_amarillo_06.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Eficiencia energética en el sector industrial</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-amarilla hover-mm wow bounceInUp" data-wow-delay=".6s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_amarillo_07.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Reemplazo lámparas en el sector comercial</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-azul hover-mm wow bounceInUp" data-wow-delay=".7s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_azul_01.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Promoción de vehículos eléctricos a nivel nacional</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-roja hover-mm wow bounceInUp" data-wow-delay=".4s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_rojo_01.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Suministro de electricidad con energía renovable en áreas no conectadas</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-roja hover-mm wow bounceInUp" data-wow-delay=".5s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_rojo_02.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Cocción limpia</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-verde hover-mm wow bounceInUp" data-wow-delay=".6s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_verde_01.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Combinación de energías renovables</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pb-5">
                                <div class="medida-mitigacion bg-nama-verde hover-mm wow bounceInUp" data-wow-delay=".7s">
                                    <img class="img-thumbnail border-0" src="@Url.Content("~/Assets/images/ico_nama_verde_02.svg")">
                                    <h2 class="pt-4 pb-2 estilo-08 text-sres-azul">Generación distribuida</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">4° Reconocimiento destacado por reducción de emisiones GEI (tCO2)</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Recibirán esta distinción las entidades (privadas y públicas), que además de alcanzar una categoría del Sello, logren contribuir con el más alto aporte de emisiones de CO2 en cada medida relacionada a la NDC implementada por Minem.  Cabe señalar que, la medida no debió ser contabilizada en los aportes de la NDC, además de que la entidad no haya comercializado sus emisiones en cada medida.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp">5° Reconocimiento</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp"></p>
            </div>
            <!--.col-lg-12.col-md-12.col-sm-12.rayado &nbsp;
            -->
        </div>
    </div>
</div>