@using sres.ut
@{
    ViewBag.Titulo = "Participantes";
    ViewBag.SRESDescription = false;
    ViewBag.Header = new Dictionary<string, object>
    {
        ["Imagen"] = "~/Assets/images/bg-participantes.png",
        ["Titulo"] = "PARTICIPANTES"
    };
    string pathFormat = AppSettings.Get<string>("Path.Institucion");
    string pathFormat_rec = AppSettings.Get<string>("Path.Reconocimiento");
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/participantes.js")"></script>
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                <p class="text-justify estilo-01 text-sres-gris wow fadeIn">A continuación, presentamos a las organizaciones públicas y privadas que se encuentran postulando al Reconocimiento de Energía Eficiente y Sostenible a nivel nacional.</p>
                <p class="text-justify estilo-01 text-sres-gris wow fadeIn">Los postulantes han desarrollado diversas medidas de eficiencia y energía sostenible, permitiendo así la competitividad, el incentivo del ahorro por consumo energético, reducción de costos y reducción de gases de efecto invernadero (GEI), principal causa del cambio climático.</p>
                <div class="rayado wow fadeIn"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <h4 class="p-2 estilo-04 text-white bg-degradado wow fadeIn">FILTROS</h4>
                <div class="bg-sres-claro px-2 py-3 mb-5 text-sres-claro h-100 wow fadeIn">
                    <div class="form-group">
                        <label class="estilo-01" for="txt-buscar">Nombre de Empresa</label>
                        <div class="input-group">
                            <input class="form-control form-control-sm estilo-01" type="text" id="txt-buscar" placeholder="Buscar aquí">
                            <div class="input-group-append">
                                <label id="btn-buscar" class="input-group-text bg-success text-white cursor-pointer"><i class="fas fa-search"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-group">
                        <label class="estilo-01" for="cbo-sector">Sector</label>
                        <div class="input-group">
                            <select class="form-control form-control-sm estilo-01" id="cbo-sector">
                            </select>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-group">
                        <label class="estilo-01" for="cbo-insignia">Categoría</label>
                        <div class="input-group">
                            <select class="form-control form-control-sm estilo-01" id="cbo-insignia"></select>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-group">
                        <label class="estilo-01" for="cbo-estrellas">Estrella</label>
                        <div class="input-group">
                            <select class="form-control form-control-sm estilo-01" id="cbo-estrellas"></select>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-group">
                        <label class="estilo-01" for="cbo-reconocimiento-especial">Reconocimiento especial</label>
                        <div class="input-group">
                            <select class="form-control form-control-sm estilo-01" id="cbo-reconocimiento-especial">
                                <option value="2">Todos</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="dropdown-divider d-none"></div>
                    <div class="form-group d-none">
                        <label class="estilo-01" for="cbo-categoria">Categoría de postulante</label>
                        <div class="input-group">
                            <select class="form-control form-control-sm estilo-01" id="cbo-categoria">
                                <option>Todos</option>
                            </select>
                        </div>
                    </div>
                    <div class="dropdown-divider d-none"></div>
                    <div class="form-group d-none">
                        <label class="estilo-01" for="cbo-criterio">Criterio</label>
                        <div class="input-group">
                            <select class="form-control form-control-sm estilo-01" id="cbo-criterio">
                                <option>Todos</option>
                            </select>
                        </div>
                    </div>
                    <div class="dropdown-divider d-none"></div>
                    <div class="form-group d-none">
                        <label class="estilo-01" for="cbo-medmit">Medida NDC</label>
                        <div class="input-group">
                            <select class="form-control form-control-sm estilo-01" id="cbo-medmit">
                                <option>Todos</option>
                            </select>
                        </div>
                    </div>
                    <div class="dropdown-divider d-none"></div>
                    <div class="form-group d-none">
                        <label class="estilo-01" for="cbo-periodo">Período</label>
                        <div class="input-group">
                            <select class="form-control form-control-sm estilo-01" id="cbo-periodo">
                                <option>Todos</option>
                            </select>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="table-responsive tabla-principal">
                    <table id="tblParticipantes" class="table table-sm table-hover">
                        <thead class="estilo-06 free-with">
                          <tr>
                    <th scope="col" width="10%">
                      <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center"><span class="pr-1">LOGOTIPO<br>DE LA<br>EMPRESA</span><i class="fas fa-sort"></i></div>
                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="LOGO"></i></div>
                      </div>
                    </th>
                    <th scope="col" width="15%">
                      <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center"><span class="pr-1">RECONOCIMIENTO(S)<br>TOTAL(ES)<br>OBTENIDO(S)</span><i class="fas fa-sort"></i></div>
                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="RECONOCIMIENTO"></i></div>
                      </div>
                    </th>
                    <th scope="col" width="25%">
                      <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center"><span class="pr-1">NOMBRE DE LA<br>INSTITUCIÓN<br>O RAZÓN SOCIAL<br>DE LA EMPRESA</span><i class="fas fa-sort"></i></div>
                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="EMPRESA"></i></div>
                      </div>
                    </th>
                    <th scope="col" width="10%">
                      <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center"><span class="pr-1">PUNTAJE<br>TOTAL<br>OBTENIDO</span><i class="fas fa-sort"></i></div>
                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="PUNTAJE"></i></div>
                      </div>
                    </th>
                    <th scope="col" width="10%">
                      <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center"><span class="pr-1">REDUCCIÓN ENERGÉTICO<br>kW HORA<br>POR AÑO</span><i class="fas fa-sort"></i></div>
                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="AHORRO ENERGÉTICO DE ELECTRICIDAD"></i></div>
                      </div>
                    </th>
                    <th scope="col" width="10%">
                      <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center"><span class="pr-1">REDUCCIÓN COMBUSTIBLE<br>TJ POR AÑO</span><i class="fas fa-sort"></i></div>
                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="AHORRO COMBUSTIBLE"></i></div>
                      </div>
                    </th>
                    <th scope="col" width="10%">
                      <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center"><span class="pr-1">REDUCCIÓN EMISIONES<br>tCO<sub>2.</sub><br>POR AÑO</span><i class="fas fa-sort"></i></div>
                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="REDUCCIÓN"></i></div>
                      </div>
                    </th>
                    <!--th(scope="col", width="15%")
                    .d-flex.justify-content-between.align-items-center
                      span.d-flex.justify-content-between.align-items-center
                        i.fas.fa-question-circle.mr-1(data-toggle="tooltip", data-placement="bottom", title="Premiación adquirida")
                        span PREMIACIÓN&nbsp;
                      i.fas.fa-sort
                    -->
                    <th scope="col" width="10%">
                      <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center"><span class="pr-1">VER FICHA<br>DE LA<br>EMPRESA</span><i class="fas fa-sort"></i></div>
                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="FICHA"></i></div>
                      </div>
                    </th>
                  </tr>
                        </thead>
                        <tbody class="estilo-01">
                            @*<tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="0">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-01.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_oro_0_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    <i class="fas fa-medal fa-2x"></i>
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="1">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-05.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_oro_1_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    <i class="fas fa-medal fa-2x"></i>
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="2">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-02.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_oro_2_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    <i class="fas fa-medal fa-2x"></i>
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="3">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-03.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_oro_3_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    <i class="fas fa-medal fa-2x"></i>
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="4">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-04.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_plata_0_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    <i class="fas fa-medal fa-2x"></i>
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="5">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-05.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_plata_1_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    <i class="fas fa-medal fa-2x"></i>
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="6">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-01.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_plata_2_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="7">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-03.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_plata_3_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="8">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-04.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_bronce_0_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="9">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-05.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_bronce_1_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="10">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-01.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_bronce_2_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="11">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/empresa-05.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_bronce_3_star.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="12">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/sin-foto.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_0.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="13">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/sin-foto.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_0.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>
                            <tr>
                                <td class="text-center text-sm-left" data-encabezado="Logo" scope="row" data-count="14">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/images/sin-foto.png")" alt="">
                                </td>
                                <td class="text-center" data-encabezado="Reconocimiento">
                                    <img class="img-fluid medal-sres" src="images/sres_0.png" alt="" data-toggle="tooltip" data-placement="top" title="Reconocimiento de oro con 3 estrellas">
                                </td>
                                <td data-encabezado="Empresa participante">
                                    <div class="text-limi-1">Empresa Energía Limpia SAC</div>
                                </td>
                                <td data-encabezado="Puntaje">
                                    <div class="text-center">150 ptos.</div>
                                </td>
                                <td data-encabezado="Reducción">
                                    <div class="text-center">150 tCO<sup>2.</sup></div>
                                </td>
                                <td class="text-center" data-encabezado="Medida NDC">
                                    -
                                    <!--if n==2b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") ABC
                                    -->
                                    <!--else if n==3b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") DEF
                                    -->
                                    <!--else if n==4b.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") GHI
                                    -->
                                    <!--else if n==5b.text-nama-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") JKL
                                    -->
                                    <!--elseb.text-sres-azul(data-toggle="tooltip", data-placement="top", title="Nombre de la medida de mitigación") MNO
                                    -->
                                </td>
                                <td class="text-center" data-encabezado="Ficha"><a class="btn btn-sm btn-success w-100" href="./ficha.html">Ver</a></td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-0 mb-5">
    <div class="container">
        <div class="row">
            <div class="offset-lg-3 col-lg-9 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 estilo-01 d-flex justify-content-start align-items-center">
                        <div class="row">
                            <div class="col-12"><span class="pagina">1</span> de <span class="total-paginas">75</span> páginas&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 estilo-01 d-flex justify-content-end align-items-center">
                        <div class="row">
                            <div class="col-12">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button class="btn btn-sm btn-primary" type="button" id="btnFirstPagination"><i class="fas fa-angle-double-left"></i></button>
                                    <button class="btn btn-sm btn-primary" type="button" id="btnPreviousPagination"><i class="fas fa-angle-left"></i></button>
                                    <input id="ir-pagina" class="ir-pagina" type="number" value="1" min="1">
                                    <button class="btn btn-sm btn-primary" type="button" id="btnNextPagination"><i class="fas fa-angle-right"></i></button>
                                    <button class="btn btn-sm btn-primary" type="button" id="btnLastPagination"><i class="fas fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="ruta" value="@pathFormat" />
<input type="hidden" id="ruta_rec" value="@pathFormat_rec" />