@{
    ViewBag.Titulo = "Reconocimiento y Criterio";
    ViewBag.SRESDescription = false;
    ViewBag.Header = new Dictionary<string, object>
    {
        ["Imagen"] = "~/Assets/images/reconocimientos.png",
        ["Titulo"] = "PREMIACIÓN ESPECIAL"
    };
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/reconocimiento_criterio.js")"></script>
}

<div class="container-fluid my-5">
    <div class="container">
        @*<div class="row">
            <div class="col-12">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp" id="categoria-01">1° Reconocimiento de Energía Eficiente y Sostenible</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">El reconocimiento se entrega en tres categorías, según el alcance y esfuerzo de las entidades que implementan las medidas de energía sostenible. Las categorías son: Oro, Plata y Bronce.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Reconocimiento de Energía Eficiente y Sostenible Categoría Oro</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Es la distinción más alta, requerirá que la entidad haya implementado al menos dos medidas de energía sostenibles, junto con un sistema formal de monitoreo y reporte de indicadores de desempeño, entre otros criterios.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Reconocimiento de Energía Eficiente y Sostenible Categoría Plata</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Se entregará a las entidades que hayan implementado una medida de energía sostenible, además de haber realizado una auditoria energética parcial, entre otros criterios.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 text-center">
                <img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_0_star.png")" height="190">
                <h2 class="text-justify p-2 my-4 estilo-08 text-sres-azul rayado wow slideInUp">Reconocimiento de Energía Eficiente y Sostenible Categoría Bronce</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Se obtendrá por las entidades que hayan logrado la implementación de una medida de energía sostenible, además de realizar el monitoreo de indicadores de desempeño, entre otros criterios.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-md-12 col-sm-12 mb-5 text-center"><a class="btn btn-sres-verde estilo-01 wow slideInUp" href="~/Assets/documentos/SELLO DE RECONOCIMIENTO DE ENERGÍA SOSTENIBLE.pdf" download>Descargar documento</a></div>
        </div>
        <div class="row">
            <div class="col-12 mb-5">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp" id="categoria-02">2° Reconocimiento por reducción de emisiones GEI (tCO2)</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Adicional al sello, se reconocerá las reducciones de emisiones de GEI como resultado de la implementación de una mejora de energía sostenible.</p>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_oro_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría oro</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_plata_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría plata</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="row p-3">
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_1_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_2_star.png")" height="85"></div>
                            <div class="col-lg-4 col-md-12 col-sm-12"><img class="wow slideInUp" src="@Url.Content("~/Assets/images/sres_bronce_3_star.png")" height="85"></div>
                        </div>
                        <div class="row p-3">
                            <h2 class="text-justify pb-2 estilo-08 text-sres-azul rayado wow slideInUp">Implementación de escala de estrellas en categoría bronce</h2>
                        </div>
                    </div>
                </div>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Esta distinción será meritoria sólo a aquellas entidades que logren una mayor reducción de GEI por medida de energía sostenible implementada. Se concreta a través de una escala de estrellas añadidas al diseño del Sello.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-md-12 col-sm-12 mb-5 text-center"><a class="btn btn-sres-verde estilo-01 wow slideInUp" href="~/Assets/documentos/SELLO DE RECONOCIMIENTO DE ENERGÍA SOSTENIBLE.pdf" download>Descargar documento</a></div>
        </div>
        <div class="row mb-5">
            <div class="p-2 my-4 estilo-04 text-sres-verde text-center w-100 wow slideInUp">Criterios para alcanzar Categorías y Estrellas de reconocimiento de energía eficiente y sostenible</div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2 wow slideInLeft">
                <img class="criterios-evaluacion img-fluid" src="@Url.Content("~/Assets/images/criterio-01.png")">
                <div class="estilo-01 text-sres-verde">Ahorro de energía eléctrica</div>
                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que ha medido su ahorro energético (mínimo 1 año) después de la implementación de mejora de eficiencia energética. Este porcentaje de ahorro es el consumo reducido por la medida implementada respecto al consumo total de energía eléctrica de la organización. Este reconocimiento brinda puntaje para alcanzar la categoría deseada y a su vez brinda puntaje para la obtención de estrellas que permite reconocer como han logrado reducir sus emisiones de Gases de Efecto Invernadero (GEI) en beneficio del ambiente.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2 wow slideInLeft">
                <img class="criterios-evaluacion img-fluid" src="@Url.Content("~/Assets/images/criterio-02.png")">
                <div class="estilo-01 text-sres-verde">Ahorro de combustible</div>
                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que ha medido su ahorro de combustible (mínimo 1 año) obtenida a partir de una implementación de mejora de eficiencia energética. Este porcentaje de ahorro es el consumo reducido por la medida implementada respecti al consumo total de combustible de la organzación. Este reconocimiento brinda puntaje para alcanzar la categoría deseada y a su vez brinda puntaje para la obtención de estrellas que permite reconocer como han logrado reducir sus emisiones de Gases de Efecto Invernadero (GEI) en beneficio del ambiente.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2 wow slideInRight">
                <img class="criterios-evaluacion img-fluid" src="@Url.Content("~/Assets/images/criterio-03.png")">
                <div class="estilo-01 text-sres-verde">Personal dedicados a Gestión de la Energía</div>
                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que cuente con personal a tiempo completo con funciones relacionadas a la gestión de la energía, como resultado de la iniciativa o proyecto para la implementación de una medida de eficiencia energética. Este reconocimiento solo brinda puntaje para alcanzar la categoría deseada.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2 wow slideInRight">
                <img class="criterios-evaluacion img-fluid" src="@Url.Content("~/Assets/images/criterio-04.png")">
                <div class="estilo-01 text-sres-verde">Implementación de SGEn</div>
                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que se encuentre en el camino de la optimización del uso de la energía con el fin de buscar el uso racional y eficiente de la energía. A través de la gestión energética se detectan oportunidades de mejora en acpectos relacionados con la calidad y seguridad de los sistemas energéticos, logrando que los usuarios conozcan el sistema, identifiquen los puntos de consumo e implmentar mejoras, alcanzando altos niveles de eficiencia energética, en ese sentido el presente reconocimiento se les dará a las organizaciones que se establezcan una política y unos objetivos energéticos, para alcanzar dichos objetivos. Este reconocimiento solo brinda puntaje para alcanzar la categoría deseada.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2 wow slideInLeft">
                <img class="criterios-evaluacion img-fluid" src="@Url.Content("~/Assets/images/criterio-05.png")">
                <div class="estilo-01 text-sres-verde">Desarrollo de Auditoría Energética</div>
                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada por la realizaciónde de auditorías energéticas en cualquiera de sus tres niveles de esfuerzo, la cual debe haber sido realizada hasta dos (02) años de antiguedad con respecto a la fehca de su postulación. Este reconocimiento solo brinda puntaje para alcanzar la categoría deseada.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2 wow slideInLeft">
                <img class="criterios-evaluacion img-fluid" src="@Url.Content("~/Assets/images/criterio-06.png")">
                <div class="estilo-01 text-sres-verde">Huella de carbono</div>
                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que hayan registrado su huella de carbono en la plataforma Huella de Carbono Perú del MINAM, que permite reconocer oficialmente el esfuerzo de las organizaciones públicas y privadas en reducir sus emisiones de Gases de Efecto Invernadero (GEI), a través de la medición de sus emisiones y el reporte de las acciones para reducirlas y/o neutralizarlas. Este reconocimiento brinda puntaje para alcanzar la categoría deseada y a su vez brinda puntaje para la obtención de estrellas que permite reconocer como han logrado reducir sus emisiones de Gases de Efecto Invernadero (GEI) en beneficio del ambiente.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2 wow slideInRight">
                <img class="criterios-evaluacion img-fluid" src="@Url.Content("~/Assets/images/criterio-07.png")">
                <div class="estilo-01 text-sres-verde">Fortalecimiento de capacidades</div>
                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada por la realización de actividades de promoción y difusión del uso de la energía y cambio climático en sus intalaciones. Este reconocimiento solo brinda puntaje para alcanzar la categoría deseada.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2 wow slideInRight">
                <img class="criterios-evaluacion img-fluid" src="@Url.Content("~/Assets/images/criterio-08.png")">
                <div class="estilo-01 text-sres-verde">Igualdad de género</div>
                <p class="d-none">Es el reconocimiento que se le da a la organización pública o privada que cuente con personal femenino en puestos de toma de decisión dentro de las actividades asociadas a la gestión de la energía. Este reconocimiento solo brinda puntaje para alcanzar la categoría deseada.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-md-12 col-sm-12 mb-5 text-center"><a class="btn btn-sres-verde estilo-01 wow slideInUp" href="~/Assets/documentos/3° Criterios para alcanzar Categorías y Estrellas de recocnocimiento de energía sostenible.pdf" download>Descargar documento</a></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="dropdown-divider wow fadeIn"></div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 col-md-12 col-sm-12 text-center my-2 wow slideInLeft">
                <div class="p-2 my-4 estilo-04 text-sres-verde text-center w-100 wow slideInUp">Criterio de evaluación para el sector privado</div><img class="img-fluid" src="@Url.Content("~/Assets/images/sector-privado.png")">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-center my-2 wow slideInRight">
                <div class="p-2 my-4 estilo-04 text-sres-verde text-center w-100 wow slideInUp">Criterio de evaluación para el sector público</div><img class="img-fluid" src="@Url.Content("~/Assets/images/sector-publico.png")">
            </div>
        </div>*@
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp" id="categoria-03">Premiación por cada medida que aporta a las Contribuciones Nacionales Determinadas (NDC)</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Este reconocimiento será otorgado a aquellas entidades que, adicional a alcanzar una categoría, logren contribuir con el más alto aporte de emisiones reducidas de CO2 en cada medida relacionada a la NDC de mitigación del cambio climático desde el sector del uso y generación de energía, implementadas por el Minem, desde la DGEE. Éstas son:</p>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">
                    <ol>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Etiquetado de Eficiencia Energética</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Eficiencia energética en el sector industrial</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Eficiencia energética en el sector comercial (no aplica para entidades del sector público)</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Auditorias energética en el sector público (no aplica para entidades del sector privado)</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Transformación del mercado de iluminación en el sector residencial</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Reemplazo de lámparas de baja eficiencia por lámparas LED en el sector público</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Reemplazo de lámparas de alumbrado público de vapor de sodio de alta presión (VSAP) por lámparas LED. (no aplica para entidades del sector privado)</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Cocción limpia (ámbito rural)</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Electrificación rural con sistemas fotovoltaicos</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Combinación de las Energías Renovables</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Generación distribuida</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Vehículos eléctricos</li>
                    </ol>
                </p>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Para esto, la medida no debió ser contabilizada en los aportes de la NDC, además de que la entidad no haya comercializado sus emisiones en cada medida.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid set-bg franja" data-setbg="@Url.Content("~/Assets/images/bg-premiacion.png")">
    <div class="container-fluid">
        <div class="row mb-5">
            <h2 class="p-2 my-4 estilo-04 text-white text-center w-100" style="z-index: 1;">Criterios para alcanzar Categorías y Estrellas de reconocimiento de energía sostenible</h2>
        </div>
        <div class="row mb-5">
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_amarillo_01.svg")">
                <div class="estilo-01 text-white mt-3">Transformación del mercado de iluminación del sector residencial</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_amarillo_02.svg")">
                <div class="estilo-01 text-white mt-3">Reemplazo de lámparas de alumbrado público por lámparas LED</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_amarillo_03.svg")">
                <div class="estilo-01 text-white mt-3">Etiquetado de eficiencia energética</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_amarillo_04.svg")">
                <div class="estilo-01 text-white mt-3">Auditorías energéticas sector público</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_amarillo_05.svg")">
                <div class="estilo-01 text-white mt-3">Reemplazo de lámparas por lámparas LED en el sector público</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_amarillo_06.svg")">
                <div class="estilo-01 text-white mt-3">Eficiencia energética en el sector industrial</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_amarillo_07.svg")">
                <div class="estilo-01 text-white mt-3">Reemplazo lámparas en el sector comercial</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_azul_01.svg")">
                <div class="estilo-01 text-white mt-3">Promoción de vehículos eléctricos a nivel nacional</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_rojo_01.svg")">
                <div class="estilo-01 text-white mt-3">Suministro de electricidad con energía renovable en áreas no conectadas</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_rojo_02.svg")">
                <div class="estilo-01 text-white mt-3">Cocción limpia</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_verde_01.svg")">
                <div class="estilo-01 text-white mt-3">Combinación de energías renovables</div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center my-5">
                <img class="img-fluid mb-3" src="@Url.Content("~/Assets/images/ico_nama_verde_02.svg")">
                <div class="estilo-01 text-white mt-3">Generación distribuida</div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-md-12 col-sm-12 mb-5 text-center"><a class="btn btn-sres-azul estilo-01 wow slideInUp" href="http://sismrv.minem.gob.pe/" target="_blank">Visìta La Plataforma MRV del Sector Energìa</a></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        @*<div class="row">
            <div class="col-12 my-5">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp" id="categoria-04">Premiación destacada por reducción de emisiones GEI &nbsp;<span>(tCO<sub>2</sub>)</span></h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Recibirán esta distinción las entidades (privadas y públicas), que además de alcanzar una categoría, logren contribuir con el más alto aporte de emisiones de CO2 en cada medida relacionada a la NDC implementada por Minem.  Cabe señalar que, la medida no debió ser contabilizada en los aportes de la NDC, además de que la entidad no haya comercializado sus emisiones en cada medida.</p>
            </div>
        </div>*@
        <div class="row">
            <div class="col-12 my-5">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp" id="categoria-05">Premiación de mejora continua por energía eficiente y sostenible</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp">Recibirán esta distinción las entidades del sector privado y público, que logren aumentar de categoría en el Reconocimiento de Energía Eficiente Sostenible con respecto al año anterior a la postulación. La entidad que logre el mayor puntaje en mejora de su categoría, cumpliendo con los criterios exigidos por su categoría, será acreedora al reconocimiento destacado a la mejora continua de energía sostenible.</p>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="modal-criterios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="">
                <div class="modal-header bg-sres-azul text-white">
                    <h5 class="modal-title estilo-01" id="exampleModalLabel">CRITERIO DE EVALUACIÓN</h5>
                    <button class="text-white close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </form>
            <div class="modal-body medidas-modal">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 d-flex justify-content-center align-items-center"><img id="criterio-imagen" src="./images/criterio-01.png"></div>
                    <div class="col-lg-9 col-md-12 col-sm-12">
                        <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado" id="criterio-titulo">BENEFICIOS</h2>
                        <p class="text-justify estilo-01 text-sres-gris" id="criterio-parrafo">La integración de mejoras para alcanzar la gestión sostenible de los recursos energéticos trae numerosos beneficios a la entidad que las implementa: <b>integración de tecnologías modernas y limpias</b>; mejora de los indicadores de desempeño energético, reducción de costos en la facturación mensual por consumo de energía; <b>promoción y uso de las energías renovables</b>, y <b>reducción de emisiones de CO2</b>. Además, aporta a la mejora del clima laboral y de las relaciones interpersonales, al asumir compromisos por actividades desarrolladas con el mismo fin.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>*@